.window-form {
  width: 600px;
}
:host /deep/ ng2-smart-table thead > tr > th {
  background-color: #3374b5 !important;
  border-color: #3374b5;
  color: white !important;
  font-weight: 900 !important;
  padding-left: 10px;
  padding-right: 12px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

/* ng2-smart-table table tr.ng2-smart-titles th */
:host /deep/ ng2-smart-table thead > tr > th a {
  color: white !important;
}
:host /deep/ ng2-smart-table thead > tr > th a.sort.desc::after {
  border-bottom-color: #f3f6ff;
}
:host /deep/ ng2-smart-table thead > tr > th a.sort.asc::after {
  border-bottom-color: #f3f6ff;
}
:host
  /deep/
  ng2-smart-table
  thead
  > tr
  > th.ng2-smart-actions.ng-star-inserted {
  position: sticky;
  right: -15px;
  background-color: #3374b5;
}
:host
  /deep/
  ng2-smart-table
  > table
  > tbody
  > tr
  > td.ng2-smart-actions.ng-star-inserted {
  position: sticky;
  right: -18px;
  background-color: #edf1f7;
}
:host /deep/ ng2-smart-table {
  overflow-x: auto;
  position: relative;
}
