<nb-layout>
  <nb-layout-column>
    <div class="col">
      <div class="row">
        <div class="card">
          <div class="card-body">
            <div class="row" style="align-items: start">
              <div
                class="col-3"
                style="
                  display: flex;
                  justify-content: flex-start;
                  max-width: 26%;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    border-right: 1.5px solid rgba(0, 0, 0, 0.2);
                    padding-right: 30px;
                  "
                >
                  <input
                    #formeInput
                    type="file"
                    ref="{hiddenFileInput}"
                    style="display: 'none'"
                    (change)="getBase641($event)"
                  />
                  <img
                    *ngIf="user && user.nom && user.prenom"
                    [src]="imgdata || avatarSrc"
                    alt=""
                    style="
                      border-radius: 50%;
                      margin: auto;
                      margin-top: 9px;
                      margin-bottom: 20px;
                      align-items: center;
                    "
                    width="150"
                    height="150"
                  />
                  <div id="nom">
                    {{ user && user.nom | uppercase }}
                    {{ user && user.prenom }}
                  </div>

                  <div>{{ user && user.role }}</div>
                  <button
                    type="button"
                    class="btn btn-primary"
                    style="margin-top: 15px; margin-left: 10px"
                    (click)="isnewMotdePasse = true"
                  >
                    Change Mot de Passe
                  </button>
                </div>
                <fa-icon
                  icon="camera"
                  size="1x"
                  title="Edit"
                  (click)="formeInput.click()"
                ></fa-icon>
              </div>
              <div class="col" style="padding-left: 0px">
                <div class="row" style="margin-top: 30px">
                  <div class="profil-item col-4">
                    <div>Matricule</div>
                    <div>{{ user && user.matricule }}</div>
                  </div>
                  <div class="profil-item col">
                    <div>Ancien Mot de Passe</div>
                    <div>
                      <div class="input-group has-validation">
                        <input
                          [disabled]="!isnewMotdePasse"
                          [(ngModel)]="oldPass"
                          type="password"
                          class="form-control"
                          placeholder="Ancien Mot de Passe"
                          [ngModel]="isnewMotdePasse ? '' : '123456'"
                        />
                      </div>
                      <span
                        style="color: red; font-size: small"
                        *ngIf="!passwordcorrect"
                        >Mot de Passe Incorrecte</span
                      >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="profil-item col-4">
                    <div>Statut</div>
                    <div>
                      {{ user && user.statut ? "Active" : "Déactiver" }}
                    </div>
                  </div>
                  <div class="profil-item col" *ngIf="isnewMotdePasse">
                    <div>Nouveau Mot de Passe</div>
                    <div>
                      <input
                        #NPass="ngModel"
                        [(ngModel)]="newPass"
                        type="password"
                        class="form-control"
                        placeholder="Nouveau Mot de Passe"
                        (input)="onchangePassword()"
                        [ngClass]="{
                          'is-valid':
                            (!passwordnotValid || newPass !== oldPass) &&
                            NPass.touched,
                          'is-invalid':
                            (passwordnotValid || newPass === oldPass) &&
                            NPass.touched
                        }"
                      />
                      <span
                        style="color: red; font-size: small"
                        *ngIf="passwordnotValid && NPass.touched"
                      >
                        Le mot de passe doit comporter au moins 4 caractères.
                      </span>
                      <span
                        style="color: red; font-size: small"
                        *ngIf="
                          newPass === oldPass &&
                          NPass.touched &&
                          !passwordnotValid
                        "
                      >
                        Le nouveau MDP ne peut pas être identique à l'ancien
                        MDP.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="profil-item col-4">
                    <div>Nom de PC</div>
                    <div>{{ user && user.nomPC }}</div>
                  </div>
                  <div class="profil-item col" *ngIf="isnewMotdePasse">
                    <div>Confirmation Mot de Passe</div>
                    <div>
                      <input
                        type="password"
                        #confNP="ngModel"
                        class="form-control"
                        placeholder="Confirmation Mot de Passe"
                        [(ngModel)]="confirNewPass"
                        (input)="onchangeConfirmPassword()"
                        [ngClass]="{
                          'is-valid':
                            !ConfirmpasswordnotValid && confNP.touched,
                          'is-invalid':
                            ConfirmpasswordnotValid && confNP.touched
                        }"
                      />
                      <span
                        style="color: red; font-size: small"
                        *ngIf="ConfirmpasswordnotValid && confNP.touched"
                        >confirmation de mot de passe incorrect</span
                      >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="profil-item col">
                    <div>Atelier</div>
                    <div>{{ atelierName }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div style="display: flex; justify-content: flex-end">
              <button
                type="button"
                class="btn btn-success"
                (click)="changeMotPasse(); saveImg()"
              >
                Enregistrer
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card" style="width: 100%">
          <div class="card-body" style="overflow: hidden; width: 100%">
            <div style="overflow: auto; width: 100%">
              <div style="min-width: 700px; margin-bottom: 20px">
                <ng2-smart-table
                  [settings]="settings"
                  [source]="source"
                ></ng2-smart-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
