<nb-layout>
  <nb-layout-column>
    <div class="row">
      <div class="col-5 px-0">
        <div class="card">
          <div class="card-header">
            <div style="display: flex; align-items: start">
              <input
                #formeInput
                type="file"
                ref="{hiddenFileInput}"
                style="display: 'none'"
                (change)="getBase641($event)"
              />
              <img
                *ngIf="user && user.nom && user.prenom"
                [src]="imgdata || avatarSrc"
                alt=""
                style="border-radius: 50%; margin-left: 20px"
                width="150"
              />
              <div id="subProfil">
                <div>{{ user && user.prenom }} {{ user && user.nom }}</div>
                <div>{{ user && user.roles }}</div>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="isnewMotdePasse = true"
                >
                  Change Mot de Passe
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <fa-icon
              icon="camera"
              size="1x"
              title="Edit"
              (click)="formeInput.click()"
            ></fa-icon>
            <div class="profil-item">
              <div>Matricule</div>
              <div>{{ user && user.matricule }}</div>
            </div>
            <div class="profil-item">
              <div>Statut</div>
              <div>{{ user && user.statut ? "Active" : "Déactiver" }}</div>
            </div>
            <div class="profil-item">
              <div>Nom de PC</div>
              <div>{{ user && user.nomPC }}</div>
            </div>
            <div class="profil-item">
              <div>Atelier</div>
              <div>{{ atelierName }}</div>
            </div>
            <div class="profil-item">
              <div>SuperUser</div>
              <div>{{ user && user.superUser }}</div>
            </div>
            <div class="profil-item" *ngIf="isnewMotdePasse">
              <div>Ancien Mot de Passe</div>
              <div>
                <input
                  [(ngModel)]="oldPass"
                  type="password"
                  class="form-control"
                  placeholder="Ancien Mot de Passe"
                />
                <span style="color: red; font-size: small"
                  >Mot de Passe Incorrecte</span
                >
              </div>
            </div>
            <div class="profil-item" *ngIf="isnewMotdePasse">
              <div>Nouveau Mot de Passe</div>
              <div>
                <input
                  #NPass="ngModel"
                  [(ngModel)]="newPass"
                  type="password"
                  class="form-control"
                  placeholder="Nouveau Mot de Passe"
                  (input)="onchangePassword()"
                  [ngClass]="{
                    'is-valid':
                      (!passwordnotValid || newPass !== oldPass) &&
                      NPass.touched,
                    'is-invalid':
                      (passwordnotValid || newPass === oldPass) && NPass.touched
                  }"
                />
                <span
                  style="color: red; font-size: small"
                  *ngIf="passwordnotValid && NPass.touched"
                >
                  Le mot de passe doit comporter au moins 4 caractères.
                </span>
                <span
                  style="color: red; font-size: small"
                  *ngIf="newPass === oldPass && NPass.touched"
                >
                  Le nouveau MDP ne peut pas être identique à l'ancien MDP.
                </span>
              </div>
            </div>
            <div class="profil-item" *ngIf="isnewMotdePasse">
              <div>Confirmation Nouveau Mot de Passe</div>
              <div>
                <input
                  type="password"
                  #confNP="ngModel"
                  class="form-control"
                  placeholder="Confirmation Nouveau Mot de Passe"
                  [(ngModel)]="confirNewPass"
                  (input)="onchangeConfirmPassword()"
                  [ngClass]="{
                    'is-valid': !ConfirmpasswordnotValid && confNP.touched,
                    'is-invalid': ConfirmpasswordnotValid && confNP.touched
                  }"
                />
                <span
                  style="color: red; font-size: small"
                  *ngIf="ConfirmpasswordnotValid && confNP.touched"
                  >Le mot de passe et la confirmation du mot de passe ne
                  correspondent pas</span
                >
              </div>
            </div>
            <div style="display: flex; justify-content: flex-end">
              <button
                type="button"
                class="btn btn-success"
                (click)="changeMotPasse()"
              >
                Enregistrer
              </button>
            </div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="col px-1">
        <div class="card">
          <div class="card-body">
            <ng2-smart-table
              [settings]="settings"
              [source]="source"
            ></ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
