.card:first-of-type {
  border-radius: 15px;
  // margin-left: 10px;
  width: 100%;
  margin-left: -15px;
}
.card-header {
  padding-bottom: 38px;
  padding-top: 26px;
  background-color: white;
  border-radius: 15px 15px 0px 0px;
}
#subProfil {
  margin-left: 5px;
  margin-top: 0px;
  /* margin-bottom: 20px; */
}
#subProfil div:first-child {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 800;
}
#subProfil div:nth-child(2) {
  font-size: 17px;
  margin-bottom: 8px;
  font-weight: 600;
}
#subProfil div:nth-child(3) {
  font-size: 17px;
}
.profil-item {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.profil-item div:first-child {
  font-weight: 600;
}
fa-icon {
  position: absolute;
  color: white;
  top: 123px;
  left: 128px;
  padding: 8.5px;
  border-radius: 50%;
  background-color: #3374b5;
  padding-left: 11px;
  padding-right: 11px;
}
fa-icon:hover {
  color: #6eacea;
}
button {
  margin-top: 10px;
}
.card:nth-of-type(2) {
  width: 50%;
  border-radius: 15px;
  margin-left: 15px;
  margin-top: 30px;
  margin-right: 15px;
}
.col,
.col-4,
.col-6,
.col-5 {
  padding-right: 0px;
  padding-left: 12px;
}
.btn {
  font-size: 15px;
  margin-top: -45px;
}
span {
  font-size: 10px !important;
}
.row {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  align-items: center;
}
.col-4 {
  margin-right: 20px;
}
#subProfil > div {
  margin-left: 10px;
}
