.label {
  border-radius: 12px;
}
#container1 {
  padding: 0px;
}
.container > .row {
  margin: 0px;
  padding: 0px;
}
.container {
  padding: 0px;
  margin: 0px;
  height: fit-content;
}
.col {
  padding: 0px;
}
.draggedText {
  position: absolute;
}
