<h1 id="title" class="title">Login</h1>
<p class="sub-title">Bonjour! Connectez-vous avec votre Matricule.</p>
<br />
<form class="needs-validation" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="mb-3">
    <label for="matricule" class="label">Matricule</label>
    <input
      class="form-control"
      [ngClass]="{
        'is-valid': matricule.valid && matricule.touched,
        'is-invalid':
          (!matricule.valid && matricule.touched) ||
          (ErrorMsg && ErrorMsg.includes('Login incorrect'))
      }"
      type="text"
      ngModel
      fullWidth
      id="matricule"
      placeholder="Matricule"
      required
      name="matricule"
      #matricule="ngModel"
      (input)="checkFormat(matricule.value)"
    />
    <span>
      <p
        class="caption status-danger"
        *ngIf="matricule.errors?.required && matricule.touched"
      >
        Veuillez remplir le champs Matricule !
      </p>
      <p class="caption status-danger" *ngIf="!matriculeFormat">
        le champs Matricule doit comporter 4 caractères !
      </p>
      <p
        class="caption status-danger"
        *ngIf="ErrorMsg && ErrorMsg.includes('Login incorrect')"
      >
        {{ ErrorMsg }}
      </p>
    </span>
  </div>
  <div>
    <label for="exampleInputPassword1" class="label">Password</label>
    <input
      ngModel
      class="form-control"
      [ngClass]="{
        'is-valid': password.valid && password.touched,
        'is-invalid':
          (!password.valid && password.touched) ||
          (ErrorMsg && ErrorMsg.includes('Mot de passe incorrect'))
      }"
      type="password"
      fullWidth
      id="exampleInputPassword1"
      placeholder="Password"
      name="password"
      #password="ngModel"
      required
    />
    <span>
      <p
        class="caption status-danger"
        *ngIf="!password.valid && password.touched"
      >
        Veuillez remplir le champs Mot de Passe !
      </p>
      <p
        class="caption status-danger"
        *ngIf="ErrorMsg && ErrorMsg.includes('Mot de passe incorrect')"
      >
        {{ ErrorMsg }}
      </p>
      <p
        class="caption status-danger"
        *ngIf="ErrorMsg && ErrorMsg.includes('Compte déactivé')"
      >
        {{ ErrorMsg }}
      </p>
    </span>
  </div>
  <br />
  <button
    class="btn btn-primary mt-2"
    type="submit"
    style="width: 100%"
    [disabled]="!f.valid"
  >
    Connexion
  </button>
</form>
