<form
  (ngSubmit)="onSubmit(f)"
  #f="ngForm"
  class="form"
  data-bs-spy="scroll"
  style="
    overflow-y: scroll;
    height: 540px;
    width: 100%;
    overflow-x: hidden;
    padding-right: 15px;
  "
>
  <div class="row row-cols-1 row-cols-md-3 g-2">
    <div class="col">
      <div class="card h-100">
        <div class="card-header">INFO Produit</div>
        <div class="card-body">
          <div class="col gx-1">
            <div class="row-md-3">
              <label for="ref" class="form-label">Référence Produit</label>
              <input
                type="text"
                class="form-control"
                value="{{ windowdata.ref }}"
                disabled
              />
            </div>
            <div class="row-md-3 mt-2">
              <label for="prodName" class="form-label">Nom Produit</label>
              <input
                [ngModel]="windowdata.nomProduit"
                class="form-control"
                id="prodName"
                type="text"
                #nomProduit="ngModel"
                placeholder="Nom Produit"
                name="nomProduit"
              />
            </div>
            <div class="row-md-3 mt-2">
              <label for="ref1">Référence 1</label>
              <input
                [ngModel]="windowdata.ref1"
                #ref1="ngModel"
                class="form-control"
                id="ref1"
                list="ref1List"
                type="text"
                placeholder="Référence 1"
                name="ref1"
              />
              <datalist id="ref1List">
                <option
                  *ngFor="let item of produits"
                  value="{{ item.prodes1 }}"
                >
                  {{ item.prodes1 }}
                </option>
              </datalist>
            </div>
            <div class="row-md-3 mt-2">
              <label for="ref1" class="form-label">Référence 2</label>
              <input
                [ngModel]="windowdata.ref2"
                #ref2="ngModel"
                class="form-control"
                id="ref1"
                type="text"
                list="ref2List"
                placeholder="Référence 2"
                name="ref2"
              />
              <datalist id="ref2List">
                <option
                  *ngFor="let item of produits"
                  value="{{ item.prodes2 }}"
                >
                  {{ item.prodes2 }}
                </option>
              </datalist>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-header">INFO Client / Fournisseur</div>
        <div class="card-body">
          <div class="col gx-1">
            <div class="row-md-3">
              <label for="ref1" class="form-label">Code fournisseur</label>
              <input
                [ngModel]="windowdata.codeFournisseur"
                #codeFournisseur="ngModel"
                class="form-control"
                id="ref1"
                type="text"
                placeholder="Code fournisseur"
                name="codeFournisseur"
              />
            </div>
            <div class="row-md-3 mt-2">
              <label for="desFor" class="form-label"
                >Désignation fournisseur
              </label>
              <input
                [ngModel]="windowdata.desFournisseur"
                #desFournisseur="ngModel"
                class="form-control"
                id="desFor"
                type="text"
                placeholder="Désignation fournisseur"
                name="desFournisseur"
              />
            </div>
            <div class="row-md-3 mt-2">
              <label for="ref1">Code Client</label>
              <input
                [ngModel]="windowdata.codeClient"
                #codeClient="ngModel"
                class="form-control"
                id="ref1"
                type="text"
                placeholder="Code Client"
                name="codeClient"
              />
            </div>
            <div class="row-md-3 mt-2">
              <label for="ref1" class="form-label">Désignation Client</label>
              <input
                [ngModel]="windowdata.desFournisseur"
                #desClient="ngModel"
                class="form-control"
                id="ref1"
                type="text"
                placeholder="Désignation Client"
                name="desClient"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-header">INFO Lot</div>
        <div class="card-body">
          <div class="col gx-1">
            <div class="row-md-3 mt-2">
              <label for="desFor" class="form-label">N° Lot/Format</label>
              <label for="F_lot"></label>
              <select
                #lot
                class="form-control"
                name="formatLot"
                id="F_lot"
                [ngModel]="windowdata.numLot"
                (change)="lotValue = lot.value"
              >
                <option value="Ajouter un Nouveau Format">
                  Ajouter un Nouveau Format
                </option>
                <option *ngFor="let item of lotData" value="{{ item.numLot }}">
                  {{ item.format }}
                </option>
              </select>
            </div>
            <div
              class="row-md-3 mt-2"
              *ngIf="lotValue === 'Ajouter un Nouveau Format'"
            >
              <div>
                <div class="row-md-3 mt-2">
                  <div
                    style="
                      display: flex;
                      margin: 0px -8px;
                      justify-content: space-between;
                      margin-bottom: 12px;
                      margin-top: 15px;
                    "
                  >
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        #dateFormat
                        name="flexRadioDefault"
                        id="flexRadioDefault1"
                        checked
                      />
                      <label class="form-check-label" for="flexRadioDefault1">
                        Format Date
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        #textFormat
                        class="form-check-input"
                        type="radio"
                        name="flexRadioDefault"
                        id="flexRadioDefault2"
                        (click)="formatLotValid = true"
                      />
                      <label class="form-check-label" for="flexRadioDefault2">
                        Format Text
                      </label>
                    </div>
                  </div>
                  <label for="desLot"
                    >Format de Lot <span style="color: red">*</span></label
                  >
                  <input
                    ngModel
                    #newformatLot="ngModel"
                    class="form-control"
                    type="text"
                    placeholder="Format de Lot"
                    name="newformatLot"
                    required
                    data-toggle="tooltip"
                    data-placement="top"
                    [ngClass]="{
                      'is-valid':
                        (formatLotValid || textFormat.checked) &&
                        newformatLot.touched &&
                        newformatLot.valid,
                      'is-invalid':
                        (!newformatLot.valid ||
                          (!formatLotValid && !textFormat.checked)) &&
                        newformatLot.touched
                    }"
                    [title]="
                      dateFormat.checked
                        ? 'Pour spécifier le format de Lot il faut utiliser les caractére spéciale suivant:\ndd : Jour\nMM: Mois\nyyyy : Année'
                        : ''
                    "
                    (input)="
                      dateFormat.checked && checkFormatLot($event.target.value)
                    "
                  />
                </div>
              </div>
            </div>
            <div class="row-md-3 mt-2">
              <label for="desLot">Désignation Lot</label>
              <input
                [ngModel]="windowdata.desLot"
                #desLot="ngModel"
                class="form-control"
                id="desLot"
                type="text"
                placeholder="Désignation Lot"
                name="desLot"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-header">Text Supplémentaire</div>
        <div class="card-body">
          <div class="col gx-1">
            <div class="row-md-3">
              <label for="txt1" class="form-label">Text1</label>
              <input
                class="form-control"
                id="ref1"
                type="text"
                placeholder="Text1"
                [ngModel]="windowdata.text1"
                #text1="ngModel"
                name="text1"
              />
            </div>
            <div class="row-md-3 mt-2">
              <label for="text2" class="form-label">Text 2 </label>
              <input
                class="form-control"
                id="text2"
                type="text"
                placeholder="Text 2"
                [ngModel]="windowdata.text2"
                #text2="ngModel"
                name="text2"
              />
            </div>
            <div class="row-md-3 mt-2">
              <label for="text3" class="form-label">Text 3</label>
              <input
                class="form-control"
                id="text3"
                type="text"
                placeholder="Text 3"
                [ngModel]="windowdata.text3"
                #text3="ngModel"
                name="text3"
              />
            </div>
            <div class="row-md-3 mt-2">
              <label for="text4">Text 4</label>
              <input
                class="form-control"
                id="text4"
                type="text"
                placeholder="Text 4"
                [ngModel]="windowdata.text4"
                #text4="ngModel"
                name="text4"
              />
            </div>
            <div class="row-md-3 mt-2">
              <label for="text5" class="form-label">Text 5</label>
              <input
                class="form-control"
                id="text5"
                type="text"
                placeholder="Text 5"
                [ngModel]="windowdata.text5"
                #text5="ngModel"
                name="text5"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row row-cols-1 row-cols-md-3 g-2">
    <div class="col-3">
      <div class="card h-100">
        <div class="card-header">Options</div>
        <div class="card-body" style="padding-bottom: 2px">
          <div class="col gx-1">
            <input
              type="checkbox"
              name="formes"
              id="formes"
              #forme
              [ngModel]="windowdata.formes"
            />
            <label for="formes"> &nbsp;formes</label>
            <div
              class="container"
              style="padding-left: 0px"
              *ngIf="forme.checked"
            >
              <img
                *ngFor="let item of formes; let i = index"
                src="{{ item.path }}"
                alt=""
                height="20"
                width="20"
                (click)="
                  item.clicked = !item.clicked;
                  addForme(item.id, item.name, item.path, item.clicked, i)
                "
                [ngClass]="{ imgClicked: item.clicked }"
                style="margin-top: 6px"
              />
              <input
                #formeInput
                type="file"
                ref="{hiddenFileInput}"
                style="display: 'none'"
                (change)="getBase641($event)"
              />
              <button
                type="button"
                class="btn btn-success"
                (click)="formeInput.click()"
                style="padding: 0px; margin-top: 6px"
              >
                <nb-icon
                  icon="plus-outline"
                  style="height: 25px; width: 25px"
                ></nb-icon>
              </button>
            </div>
            <br />
            <input
              type="checkbox"
              name="withOF"
              id="OF"
              [ngModel]="windowdata.withOF"
              #withOF="ngModel"
            />
            <label for="OF"> &nbsp;Avec OF</label>
            <br />
            <input
              type="checkbox"
              name="withDataMatrix"
              id="withDataMatrix"
              [ngModel]="windowdata.withDataMatrix"
              #withDataMatrix="ngModel"
            />
            <label for="Avec_DataMatrix"> &nbsp;Avec DataMatrix</label><br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="row me-2">
    <div class="col my-3" style="text-align: end">
      <button
        type="submit"
        class="btn btn-success"
        style="margin-right: 15px"
        [disabled]="
          !f.valid ||
          (!formatLotValid && lotValue === 'Ajouter un Nouveau Format')
        "
      >
        Enregistrer Modification
      </button>
      <button type="button" class="btn btn-danger ms-3" (click)="close()">
        Annuler
      </button>
    </div>
  </div>
</form>
<span style="color: red">* champs obligatoire</span>
<!-- [disabled]="!f.valid" -->
