<nb-layout>
  <nb-layout-column>
    <div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/pages/apt/gestionProduits"
              >S500 - Atelier Protection Thermique</a
            >
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Impression Etiquettes
          </li>
        </ol>
      </nav>
    </div>
    <div #printComponent>
      <div class="row">
        <div class="col-xl-4 col-md-12">
          <div class="col my-3">
            <label class="label" for="of">N° OF </label>
            <input
              type="text"
              #ofnum
              class="form-control"
              name="of"
              id="of"
              list="OFlist"
              (change)="getOFinfo($event.target.value)"
            />
            <datalist id="OFlist">
              <option value="" selected>-- Sélectionnez le numéro OF --</option>
              <option *ngFor="let item of OfList" value="{{ item }}">
                {{ item }}
              </option>
            </datalist>
          </div>
          <div class="col my-3">
            <label class="label" for="refProd">Référence Produit </label>
            <input
              type="text"
              class="form-control"
              name="refProd"
              id="refProd"
              [ngModel]="refProd"
              disabled
            />
          </div>
          <div class="col my-3" *ngIf="ofnum.value && formatLot">
            <label class="label" for="lot">N°Lot </label>
            <!-- <input type="text" class="form-control" name="lot" id="lot" /> -->
            <div>
              <input
                [nbDatepicker]="datepicker"
                ngModel
                #FormatLot="ngModel"
                [ngClass]="{
                  'is-valid': formatLotValid && FormatLot.touched,
                  'is-invalid': !formatLotValid && FormatLot.touched
                }"
                class="form-control"
                required
                [placeholder]="formatLot"
                (input)="changeLot($event.target.value)"
                (change)="changeLot($event.target.value)"
                data-bs-container="body"
                data-bs-toggle="popover"
                data-bs-placement="bottom"
                data-bs-content="Bottom popover"
                [(ngModel)]="lotField"
              />
              <nb-datepicker
                (dateChange)="changeDate($event)"
                #datepicker
                [format]="formatLot"
                [filter]="filterFn"
              ></nb-datepicker>
              <span
                *ngIf="!formatLotValid && FormatLot.touched"
                class="caption status-danger mt-1"
              >
                veuillez vérifier le Format de Lot
              </span>
            </div>
          </div>
          <div class="col my-3">
            <label class="label" for="nombreEtiquette"
              >Nombre d'étiquettes à imprimer
            </label>
            <input
              #impr="ngModel"
              [(ngModel)]="nbrCopie"
              required
              min="1"
              type="number"
              class="form-control"
              name="nombreEtiquette"
              id="nombreEtiquette"
              (input)="changenbrCopie($event.target.value)"
              [ngClass]="{
                'is-valid': nbrCopieValid && impr.touched && impr.valid,
                'is-invalid': !nbrCopieValid && impr.touched
              }"
            />
          </div>
          <div class="col my-3">
            <div class="form-group">
              <label class="label" for="imp">Imprimante </label>
              <select class="form-control" name="imp" id="imp" #printerName>
                <option *ngFor="let item of printerList">{{ item }}</option>
              </select>
            </div>
          </div>
          <div
            class="col rounded mx-auto d-block"
            style="margin: auto; width: 100%"
          >
            <button
              type="button"
              class="btn btn-primary"
              style="padding-top: 5px; width: 100%"
              (click)="print(+impr.value, printerName.value)"
              [disabled]="!formatLotValid || !nbrCopieValid"
            >
              <nb-icon
                icon="printer-outline"
                style="height: 30px; width: 30px"
              ></nb-icon>
            </button>
          </div>
        </div>
        <div class="col" style="align-items: center">
          <div id="label">
            <ngx-label-component
              [refProd]="refProd"
              [lotdata]="lotdata"
              [OF]="OF"
              [changeSN]="changeSn"
              (list1Event)="loadList1Data($event)"
              (withSN)="withSNFunction($event)"
              (sn)="getSN($event)"
              (withDataMatrix)="IswithDataMatrix($event)"
            ></ngx-label-component>
          </div>
        </div>
      </div>
      <div class="card mt-5" style="width: fit-content; margin: auto">
        <div class="card-body" style="background-color: #edf1f7">
          <div class="smart-table-container">
            <ng2-smart-table
              [settings]="settings"
              [source]="source"
              class="overflow-x-auto"
            >
            </ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
