@import "../../../../@theme/styles/themes.scss";
.col,
.col-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#label {
  min-width: 670px;
  min-height: 360px;
  background-color: #f0eeeda8;
  border-radius: 15px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
ol {
  background-color: transparent;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-content: flex-start;
  align-items: center;
}
