@import "../../../../@theme/styles/themes.scss";
.col,
.col-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#label {
  min-width: 100px;
  min-height: 300px;
  background-color: #c6c6c6a8;
  border-radius: 15px;
  // margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
ol {
  background-color: transparent;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-content: center;
  align-items: center;
}
.col-xl-4 {
  padding: 0px;
}
