<div class="col" style="padding: 0px">
  <fieldset>
    <legend>Taille</legend>
  </fieldset>
  <div class="row">
    <div class="col">
      <div class="row gx-1">
        <div class="col">
          <label for="hauteur" class="label">Hauteur</label>
          <input
            [disabled]="format.value === 'qrcode'"
            type="number"
            name="hauteur"
            id=""
            class="form-control"
            [value]="format.value === 'qrcode' && largeur.value"
            (input)="changeStyle('height', $event.target.value)"
            [ngModel]="
              (dragDropService.items[itemId].style &&
                dragDropService.items[itemId].style.height &&
                dragDropService.items[itemId].style.height !== 'fit-content' &&
                +dragDropService.items[itemId].style.height.replace(
                  'mm',
                  ''
                )) ||
              '20mm'
            "
          />
        </div>
        <div class="col">
          <label for="largeur" class="label">Largeur</label>
          <input
            #largeur
            type="number"
            name="largeur"
            id=""
            class="form-control"
            (input)="changeStyle('width', $event.target.value)"
            [ngModel]="
              (dragDropService.items[itemId].style &&
                dragDropService.items[itemId].style.width &&
                dragDropService.items[itemId].style.width !== 'fit-content' &&
                +dragDropService.items[itemId].style.width.replace('mm', '')) ||
              '20mm'
            "
          />
        </div>
      </div>
    </div>
  </div>
  <fieldset>
    <legend>Couleur</legend>
  </fieldset>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col px-1">
          <label for="fg-color" class="label"> Font </label>
          <input
            type="color"
            name="fg-color"
            id="fg-color"
            class="form-control"
            (input)="changeStyle('color', $event.target.value)"
            [ngModel]="
              dragDropService.items[itemId].style &&
              dragDropService.items[itemId].style['color']
            "
          />
        </div>
        <div class="col px-1">
          <label for="bg-color" class="label"> Arrière </label>
          <input
            type="color"
            name="bg-color"
            id="bg-color"
            class="form-control"
            (input)="changeStyle('background-color', $event.target.value)"
            [ngModel]="
              dragDropService.items[itemId].style &&
              dragDropService.items[itemId].style['background-color']
            "
          />
        </div>
      </div>
    </div>
  </div>
  <fieldset>
    <legend>Espacement</legend>
  </fieldset>
  <div class="row">
    <div class="col">
      <label for="margin" class="label"> Margin</label>
      <div class="input-group mb-3">
        <input
          type="number"
          min="0"
          class="form-control"
          (input)="changeStyle(marginCliked, $event.target.value + 'mm')"
          (keyup.enter)="changeStyle(marginCliked, $event.target.value + 'mm')"
          [ngModel]="
            (dragDropService.items[itemId].style &&
              dragDropService.items[itemId].style[marginCliked] &&
              +dragDropService.items[itemId].style[marginCliked].replace(
                'mm',
                ''
              )) ||
            0
          "
        />
        <button
          class="btn btn-outline-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        ></button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a
              (click)="marginCliked = 'margin-left'"
              [ngClass]="{ itemClicked: marginCliked === 'margin-left' }"
            >
              <img
                src="../../../../../assets/images/left-alignment.png"
                alt=""
                height="20px"
                width="20px"
              />
            </a>
          </li>
          <li>
            <a
              (click)="marginCliked = 'margin-right'"
              [ngClass]="{ itemClicked: marginCliked === 'margin-right' }"
            >
              <img
                class="icon-link icon-link-hover"
                src="../../../../../assets/images/right-alignment.png"
                height="20px"
                width="20px"
                alt=""
              />
            </a>
          </li>
          <li>
            <a
              (click)="marginCliked = 'margin-top'"
              [ngClass]="{ itemClicked: marginCliked === 'margin-top' }"
            >
              <img
                class="icon-link icon-link-hover"
                src="../../../../../assets/images/top-alignment.png"
                height="20px"
                width="20px"
                alt=""
              />
            </a>
          </li>
          <li>
            <a
              (click)="marginCliked = 'margin-bottom'"
              [ngClass]="{ itemClicked: marginCliked === 'margin-bottom' }"
            >
              <img
                class="icon-link icon-link-hover"
                src="../../../../../assets/images/align-objects.png"
                height="20px"
                width="20px"
                alt=""
              />
            </a>
          </li>
          <li>
            <a
              (click)="marginCliked = 'margin'"
              [ngClass]="{ itemClicked: marginCliked === 'margin' }"
            >
              <img
                class="icon-link icon-link-hover"
                src="../../../../../assets/images/padding_icon.svg"
                height="20px"
                width="20px"
                alt=""
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="format" class="label">Format</label>
        <select
          #format
          class="form-control"
          name="format"
          id=""
          (change)="change('format', $event.target.value)"
          [ngModel]="
            (dragDropService.items[itemId].style &&
              dragDropService.items[itemId].style.format) ||
            'qrcode'
          "
        >
          <option *ngFor="let format of barcodeObjs" value="{{ format.value }}">
            {{ format.name }}
          </option>
          <option value="qrcode">QRCode</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="codage" class="label">Codage</label>
        <select
          class="form-control"
          name="codage"
          id=""
          (change)="change('code', $event.target.value)"
        >
          <option></option>
        </select>
      </div>
    </div>
  </div>
  <fieldset>
    <legend>Data</legend>
  </fieldset>
  <div class="row tag">
    <div class="col">
      <!-- <div class="row" style="margin: 0px">
        <div class="col">
          <label class="label" for="tag">Tag</label>
        </div>
        <div class="col">
          <label class="label" for="valeur">Valeur</label>
        </div>
      </div> -->
      <div class="row" style="margin: 0px -5px">
        <div class="col-5" style="padding-left: 0px; padding-right: 0px">
          <!-- <input
            type="text"
            class="form-control"
            placeholder="TAG"
            list="tagList"
            id="tag"
          />
          <datalist id="tagList">
            <option *ngFor="let item of tagList">{{ item }}</option>
          </datalist> -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">TAG</span>
            <input
              type="text"
              class="form-control"
              placeholder="TAG"
              aria-label="Username"
              aria-describedby="basic-addon1"
              list="tagList"
              #tag
              (click)="tag.value = ''"
            />
            <datalist id="tagList">
              <option *ngFor="let item of tagList">{{ item }}</option>
            </datalist>
          </div>
        </div>
        <div class="col">
          <!-- <input
            type="text"
            id="valeur"
            class="form-control"
            placeholder="valeur"
            list="valueList"
          />
          <datalist id="valueList">
            <option *ngFor="let item of valueList">{{ item }}</option>
          </datalist> -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">VAL</span>
            <input
              #val
              type="text"
              class="form-control"
              placeholder="value"
              aria-label="value"
              aria-describedby="basic-addon1"
              list="valueList"
              (click)="val.value = ''"
            />
            <datalist id="valueList">
              <option *ngFor="let item of valueList">{{ item }}</option>
            </datalist>
          </div>
        </div>
        <div
          class="col-2"
          style="
            /*display: flex;*/ /*padding-top: 11.5px*/
            padding-left: 5px;
            padding-right: 0px;
          "
        >
          <!-- <img
            src="../../../../../assets/images/turn-left.png"
            alt=""
            height="20px"
            width="20px"
            style="margin-right: 10px; margin-left: -7px"
          />
          &thinsp;
          <img
            src="../../../../../assets/images/plus.png"
            alt=""
            height="15px"
            width="15px"
            style="margin-right: 10px; margin-top: 1.5px; padding-bottom: 2px"
          /> -->
          <button
            type="button"
            class="btn btn-success"
            (click)="addItem(tag.value, val.value)"
          >
            <fa-icon icon="plus"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="data" class="label">Data</label>
        <textarea
          class="form-control"
          name="data"
          id=""
          rows="5"
          (input)="change('data', $event.target.value)"
          [(ngModel)]="xmlForm"
        ></textarea>
      </div>
    </div>
  </div>
</div>
