<nb-layout>
  <nb-layout-column>
    <div>
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/pages/apt/gestionProduits"
              >S500 - Atelier Protection Thermique</a
            >
          </li>
          <li
            aria-current="page"
            routerLinkActive="breadcrumb-item active"
            routerLink="/pages/apt/DetailImpression"
          >
            Détail Impression
          </li>
        </ol>
      </nav>
      <input
        class="form-control me-2 ps-4"
        type="search"
        placeholder="&#xF002;  Recherche par N°OF ou par Référence Produit ou par Matricule de l'utilisateur"
        style="font-family: Arial, FontAwesome; border-radius: 6px"
        aria-label="Search"
        #search
        (input)="onSearch(search.value)"
      />
      <br />
      <div class="card mt-2">
        <div class="card-body">
          <div class="col-md-12" style="overflow-x: scroll; position: relative">
            <div class="smart-table-container" style="width: 1900px">
              <ng2-smart-table
                [settings]="settings"
                [source]="source"
                (delete)="search($event)"
                (edit)="print($event)"
              >
              </ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
