<div class="col" style="padding: 0px">
  <h3
    style="
      width: fit-content;
      margin: auto;
      margin-top: 5px;
      margin-bottom: 10px;
      color: #3374b5;
      font-weight: 800;
      font-size: 1.2em;
    "
  >
    {{ dragDropService.items[itemId].title }}
  </h3>
  <fieldset>
    <legend>Taille</legend>
  </fieldset>
  <div class="row">
    <div class="col">
      <div class="row gx-1">
        <div class="col">
          <label for="hauteur" class="label">Hauteur</label>
          <input
            type="number"
            name="hauteur"
            id=""
            class="form-control"
            (input)="changeStyle('height', $event.target.value + 'mm')"
            [ngModel]="
              (dragDropService.items[itemId].style &&
                dragDropService.items[itemId].style.height &&
                +dragDropService.items[itemId].style.height.replace(
                  'mm',
                  ''
                )) ||
              '20mm'
            "
          />
        </div>
        <div class="col">
          <label for="largeur" class="label">Largeur</label>
          <input
            #largeur
            type="number"
            name="largeur"
            id=""
            class="form-control"
            (input)="changeStyle('width', $event.target.value + 'mm')"
            [ngModel]="
              (dragDropService.items[itemId].style &&
                dragDropService.items[itemId].style.width &&
                +dragDropService.items[itemId].style.width.replace('mm', '')) ||
              '20mm'
            "
          />
        </div>
      </div>
    </div>
  </div>
  <fieldset>
    <legend>Couleur</legend>
  </fieldset>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col px-1">
          <label for="fg-color" class="label"> Font </label>
          <input
            type="color"
            name="fg-color"
            id="fg-color"
            class="form-control"
            (input)="changeStyle('color', $event.target.value)"
            [ngModel]="
              dragDropService.items[itemId].style &&
              dragDropService.items[itemId].style['color']
            "
          />
        </div>
        <div class="col px-1">
          <label for="bg-color" class="label"> Arrière </label>
          <input
            type="color"
            name="bg-color"
            id="bg-color"
            class="form-control"
            (input)="changeStyle('background-color', $event.target.value)"
            [ngModel]="
              dragDropService.items[itemId].style &&
              dragDropService.items[itemId].style['background-color']
            "
          />
        </div>
      </div>
    </div>
  </div>
  <fieldset *ngIf="dragDropService.dragDropLibre">
    <legend>Position</legend>
  </fieldset>
  <div class="row" *ngIf="dragDropService.dragDropLibre">
    <div class="col px-1">
      <label for="x" class="label">X</label>
      <div class="input-group mb-3">
        <input
          name="x"
          type="number"
          class="form-control"
          (input)="changePosition(+$event.target.value, null)"
          [ngModel]="
            math.round(+dragDropService.dragPosition[itemId]?.x * 0.26)
          "
        />
        <span class="input-group-text" id="basic-addon2">mm</span>
      </div>
    </div>
    <div class="col px-1">
      <label for="y" class="label">Y</label>
      <div class="input-group mb-3">
        <input
          name="y"
          type="number"
          class="form-control"
          (input)="changePosition(null, +$event.target.value)"
          [ngModel]="
            math.round(+dragDropService.dragPosition[itemId]?.y * 0.26)
          "
        />
        <span class="input-group-text" id="basic-addon2">mm</span>
      </div>
    </div>
  </div>
  <fieldset>
    <legend>Espacement</legend>
  </fieldset>
  <div class="row">
    <div class="col px-1">
      <label for="padding" class="label"> Padding</label>
      <div class="input-group mb-3">
        <input
          #padding
          type="number"
          min="0"
          class="form-control"
          (input)="changeStyle(paddingClicked, $event.target.value + 'mm')"
          (keyup.enter)="
            changeStyle(paddingClicked, $event.target.value + 'mm')
          "
          [ngModel]="
            (dragDropService.items[itemId].style &&
              dragDropService.items[itemId].style[paddingClicked] &&
              +dragDropService.items[itemId].style[paddingClicked].replace(
                'mm',
                ''
              )) ||
            0
          "
        />
        <button
          class="btn btn-outline-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        ></button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a
              (click)="paddingClicked = 'padding-left'"
              [ngClass]="{ itemClicked: paddingClicked === 'padding-left' }"
            >
              <img
                src="../../../../../assets/images/left-alignment.png"
                alt=""
                height="20px"
                width="20px"
              />
            </a>
          </li>
          <li>
            <a
              (click)="paddingClicked = 'padding-right'"
              [ngClass]="{ itemClicked: paddingClicked === 'padding-right' }"
            >
              <img
                class="icon-link icon-link-hover"
                src="../../../../../assets/images/right-alignment.png"
                height="20px"
                width="20px"
                alt=""
              />
            </a>
          </li>
          <li>
            <a
              (click)="paddingClicked = 'padding-top'"
              [ngClass]="{ itemClicked: paddingClicked === 'padding-top' }"
            >
              <img
                class="icon-link icon-link-hover"
                src="../../../../../assets/images/top-alignment.png"
                height="20px"
                width="20px"
                alt=""
              />
            </a>
          </li>
          <li>
            <a
              (click)="paddingClicked = 'padding-bottom'"
              [ngClass]="{ itemClicked: paddingClicked === 'padding-bottom' }"
            >
              <img
                class="icon-link icon-link-hover"
                src="../../../../../assets/images/align-objects.png"
                height="20px"
                width="20px"
                alt=""
              />
            </a>
          </li>
          <li>
            <a
              (click)="paddingClicked = 'padding'"
              [ngClass]="{ itemClicked: paddingClicked === 'padding' }"
            >
              <img
                class="icon-link icon-link-hover"
                src="../../../../../assets/images/padding_icon.svg"
                height="20px"
                width="20px"
                alt=""
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col px-1">
      <label for="margin" class="label"> Margin</label>
      <div class="input-group mb-3">
        <input
          type="number"
          min="0"
          class="form-control"
          (input)="changeStyle(marginCliked, $event.target.value + 'mm')"
          (keyup.enter)="changeStyle(marginCliked, $event.target.value + 'mm')"
          [ngModel]="
            (dragDropService.items[itemId].style &&
              dragDropService.items[itemId].style[marginCliked] &&
              +dragDropService.items[itemId].style[marginCliked].replace(
                'mm',
                ''
              )) ||
            0
          "
        />
        <button
          class="btn btn-outline-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        ></button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a
              (click)="marginCliked = 'margin-left'"
              [ngClass]="{ itemClicked: marginCliked === 'margin-left' }"
            >
              <img
                src="../../../../../assets/images/left-alignment.png"
                alt=""
                height="20px"
                width="20px"
              />
            </a>
          </li>
          <li>
            <a
              (click)="marginCliked = 'margin-right'"
              [ngClass]="{ itemClicked: marginCliked === 'margin-right' }"
            >
              <img
                class="icon-link icon-link-hover"
                src="../../../../../assets/images/right-alignment.png"
                height="20px"
                width="20px"
                alt=""
              />
            </a>
          </li>
          <li>
            <a
              (click)="marginCliked = 'margin-top'"
              [ngClass]="{ itemClicked: marginCliked === 'margin-top' }"
            >
              <img
                class="icon-link icon-link-hover"
                src="../../../../../assets/images/top-alignment.png"
                height="20px"
                width="20px"
                alt=""
              />
            </a>
          </li>
          <li>
            <a
              (click)="marginCliked = 'margin-bottom'"
              [ngClass]="{ itemClicked: marginCliked === 'margin-bottom' }"
            >
              <img
                class="icon-link icon-link-hover"
                src="../../../../../assets/images/align-objects.png"
                height="20px"
                width="20px"
                alt=""
              />
            </a>
          </li>
          <li>
            <a
              (click)="marginCliked = 'margin'"
              [ngClass]="{ itemClicked: marginCliked === 'margin' }"
            >
              <img
                class="icon-link icon-link-hover"
                src="../../../../../assets/images/padding_icon.svg"
                height="20px"
                width="20px"
                alt=""
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-3 px-1">
      <label for="margin" class="label" style="margin-left: -3px"
        >Orientation</label
      >
      <input
        type="number"
        min="0"
        name="margin"
        id="margin"
        (input)="
          changeStyle('transform', 'rotate(' + $event.target.value + 'deg)')
        "
        [ngModel]="defaultrotation || 0"
        class="form-control"
      />
    </div>
  </div>
</div>
