<nb-layout>
  <nb-layout-column>
    <div>
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/pages/apt/gestionProduits"
              >S500 - Atelier Protection Thermique</a
            >
          </li>
          <li
            aria-current="page"
            routerLinkActive="breadcrumb-item active"
            routerLink="/pages/apt/HistoriqueOF"
          >
            Historique OF
          </li>
        </ol>
      </nav>
      <input
        class="form-control me-2 ps-4"
        type="search"
        placeholder="&#xF002;  Recherche par N°OF ou par Référence Produit ou par Date d'impression ou par Matricule de l'utilisateur ou par Numéro de Série"
        style="font-family: Arial, FontAwesome; border-radius: 6px"
        aria-label="Search"
        #search
        (input)="onSearch(search.value)"
      />
      <br />
      <div class="card mt-2">
        <div class="card-body">
          <div class="col-md-12" style="overflow-x: scroll; position: relative">
            <div class="smart-table-container" style="min-width: 1600px">
              <ng2-smart-table [settings]="settings" [source]="source">
              </ng2-smart-table>
            </div>
          </div>
          <!-- <nav aria-label="Page navigation example" style="margin-top: 30px">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" routerLink="/pages/apt/HistoriqueOF?">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav> -->
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
