<div class="row">
  <div class="col-md-12 col-lg-12">
    <nb-card style="width: 400px">
      <nb-tabset (changeTab)="tabChange($event)">
        <nb-tab
          tabTitle="Etiquette"
          tabId="label"
          [active]="!dragDropService.propertyTabActive && labelTabActive"
        >
          <ngx-etiquette-tab></ngx-etiquette-tab>
        </nb-tab>
        <nb-tab
          tabTitle="Design"
          tabId="design"
          [disabled]="!canDesign"
          [active]="!dragDropService.propertyTabActive && designTabActive"
          ><ngx-design-tab></ngx-design-tab>
        </nb-tab>
        <nb-tab
          tabId="property"
          tabTitle="Propriété"
          style="margin-right: 0px 10px"
          [active]="dragDropService.propertyTabActive"
        >
          <ngx-property-tab></ngx-property-tab>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
