<fieldset>
  <legend>Liste des champs à glisser</legend>
</fieldset>
<div
  cdkDropList
  (cdkDropListDropped)="onDrop($event)"
  [cdkDropListData]="dragDropService.list2"
  [cdkDropListConnectedTo]="dragDropService.dropTargetIds"
  [cdkDropListSortingDisabled]="true"
  id="design"
>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header> Champs </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div
          *ngFor="let item of dragDropService.list2"
          cdkDrag
          [cdkDragData]="item.id"
          (cdkDragMoved)="dragMoved($event)"
        >
          <div *cdkDragPlaceholder>
            <div
              class="example-custom-placeholder"
              *ngIf="dragDropService.showDragPlaceholder"
            ></div>
          </div>
          <div
            *ngIf="item.type === 'text' || item.type === 'QRcode'"
            [attr.data-id]="item.id"
            class="example-box"
          >
            {{ item.title }}
          </div>
          <div
            *cdkDragPreview
            style="
              padding: 10px;
              background-color: rgb(194, 187, 187);
              border-radius: 10px;
            "
          >
            {{ item.type }}
          </div>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item>
      <nb-accordion-item-header> Containers </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div
          *ngFor="let item of dragDropService.list2"
          cdkDrag
          [cdkDragData]="item.id"
          (cdkDragMoved)="dragMoved($event)"
        >
          <div *cdkDragPlaceholder>
            <div
              class="example-custom-placeholder"
              *ngIf="dragDropService.showDragPlaceholder"
            ></div>
          </div>
          <div
            *ngIf="item.type === 'container'"
            [attr.data-id]="item.id"
            class="example-box"
          >
            Container
          </div>
          <div
            *ngIf="item.type === 'container-2'"
            [attr.data-id]="item.id"
            class="example-box"
          >
            Container-2
          </div>
          <div *ngIf="item.type === 'container-3'" class="example-box">
            Container-3
          </div>
          <div *cdkDragPreview>{{ item.type }}</div>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>
<fieldset>
  <legend>Liste des champs Ajoutés</legend>
</fieldset>
<div>
  <nb-accordion>
    <nb-accordion-item *ngFor="let item of list1">
      <nb-accordion-item-header
        *ngIf="item.type === 'text'"
        [attr.data-id]="item.id"
      >
        <div class="item-header">
          <div>{{ item.title }}</div>
          <div
            (click)="remove(item.id)"
            style="margin-right: 25px; margin-bottom: -10px"
          >
            <nb-icon
              icon="close"
              status="danger"
              style="width: 25px; height: 25px; margin-bottom: -4px"
            ></nb-icon>
          </div>
        </div>
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.type === 'text'"
        ><ngx-field-style-form [itemId]="item.id"></ngx-field-style-form>
      </nb-accordion-item-body>
      <nb-accordion-item-header
        *ngIf="item.type === 'QRcode'"
        [attr.data-id]="item.id"
      >
        <div class="item-header">
          <div>{{ item.title }}</div>
          <div
            (click)="remove(item.id)"
            style="margin-right: 25px; margin-bottom: -10px"
          >
            <nb-icon
              icon="close"
              status="danger"
              style="width: 25px; height: 25px; margin-bottom: -4px"
            ></nb-icon>
          </div>
        </div>
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.type === 'QRcode'"
        ><ngx-data-matrix-style-form
          [itemId]="item.id"
        ></ngx-data-matrix-style-form>
      </nb-accordion-item-body>

      <nb-accordion-item-header
        *ngIf="item.type === 'vide'"
        [attr.data-id]="item.id"
        >Vide
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.type === 'vide'"
        ><ngx-field-style-form [itemId]="item.id"></ngx-field-style-form>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.type === 'container'">
        <div class="item-header">
          <div>Container</div>
          <div
            (click)="remove(item.id)"
            style="margin-right: 25px; margin-bottom: -10px"
          >
            <nb-icon
              icon="close"
              status="danger"
              style="width: 25px; height: 25px; margin-bottom: -4px"
            ></nb-icon>
          </div>
        </div>
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.type === 'container'">
        <ngx-container-style-form [itemId]="item.id"></ngx-container-style-form>
        <div *ngIf="item.children.length">
          <nb-accordion *ngFor="let item1 of item.children">
            <nb-accordion-item
              *ngIf="item1.type === 'text'"
              [attr.data-id]="item1.refItem"
            >
              <nb-accordion-item-header>
                <div class="item-header">
                  <div>{{ item.title }}</div>
                  <div
                    (click)="remove(item.id)"
                    style="margin-right: 25px; margin-bottom: -10px"
                  >
                    <nb-icon
                      icon="close"
                      status="danger"
                      style="width: 25px; height: 25px; margin-bottom: -4px"
                    ></nb-icon>
                  </div>
                </div>
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                <ngx-field-style-form
                  [itemId]="item1.id"
                ></ngx-field-style-form>
              </nb-accordion-item-body>
            </nb-accordion-item>
            <nb-accordion-item
              *ngIf="item1.type === 'vide'"
              [attr.data-id]="item1.refItem"
            >
              <nb-accordion-item-header>Vide </nb-accordion-item-header>
              <nb-accordion-item-body> </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.type === 'container-2'">
        <div class="item-header">
          <div>Container 2</div>
          <div
            (click)="remove(item.id)"
            style="margin-right: 25px; margin-bottom: -10px"
          >
            <nb-icon
              icon="close"
              status="danger"
              style="width: 25px; height: 25px; margin-bottom: -4px"
            ></nb-icon>
          </div>
        </div>
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.type === 'container-2'">
        <ngx-container-style-form [itemId]="item.id"></ngx-container-style-form>
        <div *ngIf="item.children.length">
          <nb-accordion *ngFor="let item1 of item.children">
            <nb-accordion-item
              *ngIf="item1.type === 'text'"
              [attr.data-id]="item1.refItem"
            >
              <nb-accordion-item-header>
                <div class="item-header">
                  <div>{{ item1.title }}</div>
                  <div
                    (click)="remove(item1.id)"
                    style="margin-right: 25px; margin-bottom: -10px"
                  >
                    <nb-icon
                      icon="close"
                      status="danger"
                      style="width: 25px; height: 25px; margin-bottom: -4px"
                    ></nb-icon>
                  </div>
                </div>
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                <ngx-field-style-form
                  [itemId]="item1.id"
                ></ngx-field-style-form>
              </nb-accordion-item-body>
            </nb-accordion-item>
            <nb-accordion-item>
              <nb-accordion-item-header
                *ngIf="item1.type === 'vide'"
                [attr.data-id]="item1.refItem"
              >
                Vide
              </nb-accordion-item-header>
              <nb-accordion-item-body> </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.type === 'container-3'">
        <div class="item-header">
          <div>Container 3</div>
          <div
            (click)="remove(item.id)"
            style="margin-right: 25px; margin-bottom: -10px"
          >
            <nb-icon
              icon="close"
              status="danger"
              style="width: 25px; height: 25px; margin-bottom: -4px"
            ></nb-icon>
          </div>
        </div>
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.type === 'container-3'">
        <ngx-container-style-form [itemId]="item.id"></ngx-container-style-form>
        <div *ngIf="item.children.length">
          <nb-accordion *ngFor="let item1 of item.children">
            <nb-accordion-item
              *ngIf="item1.type === 'text'"
              [attr.data-id]="item1.refItem"
            >
              <nb-accordion-item-header>
                <div class="item-header">
                  <div>{{ item1.title }}</div>
                  <div
                    (click)="remove(item1.id)"
                    style="margin-right: 25px; margin-bottom: -10px"
                  >
                    <nb-icon
                      icon="close"
                      status="danger"
                      style="width: 25px; height: 25px; margin-bottom: -4px"
                    ></nb-icon>
                  </div>
                </div>
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                <ngx-field-style-form [itemId]="item1.id"></ngx-field-style-form
              ></nb-accordion-item-body>
            </nb-accordion-item>
            <nb-accordion-item
              *ngIf="item1.type === 'vide'"
              [attr.data-id]="item1.refItem"
            >
              <nb-accordion-item-header>Vide </nb-accordion-item-header>
              <nb-accordion-item-body> </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.type === 'img'">
        Image
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.type === 'img'">
        A nebula is an interstellar cloud of dust, hydrogen, helium and other
        ionized gases. Originally, nebula was a name for any diffuse
        astronomical object, including galaxies beyond the Milky Way.
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>
