<fieldset>
  <legend>Liste des Champs</legend>
</fieldset>

<div
  cdkDropList
  (cdkDropListDropped)="onDrop($event)"
  [cdkDropListData]="list2"
  [cdkDropListConnectedTo]="dragDropService.dropTargetIds"
  [cdkDropListSortingDisabled]="true"
  id="design"
>
  <nb-accordion
    *ngFor="let item of list2"
    cdkDrag
    [cdkDragData]="item.id"
    (cdkDragMoved)="dragMoved($event)"
  >
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    <nb-accordion-item *ngIf="item.type === 'div'" [attr.data-id]="item.id">
      <nb-accordion-item-header>DIV </nb-accordion-item-header>
      <nb-accordion-item-body> </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item *ngIf="item.type === 'vide'" [attr.data-id]="item.id">
      <nb-accordion-item-header>Vide </nb-accordion-item-header>
      <nb-accordion-item-body> </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item *ngIf="item.type === 'container'">
      <nb-accordion-item-header> Container </nb-accordion-item-header>
      <nb-accordion-item-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other
        ionized gases. Originally, nebula was a name for any diffuse
        astronomical object, including galaxies beyond the Milky Way.
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item *ngIf="item.type === 'container-2'">
      <nb-accordion-item-header> Container-2 </nb-accordion-item-header>
      <nb-accordion-item-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other
        ionized gases. Originally, nebula was a name for any diffuse
        astronomical object, including galaxies beyond the Milky Way.
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item *ngIf="item.type === 'container-3'">
      <nb-accordion-item-header> Container-3 </nb-accordion-item-header>
      <nb-accordion-item-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other
        ionized gases. Originally, nebula was a name for any diffuse
        astronomical object, including galaxies beyond the Milky Way.
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item *ngIf="item.type === 'img'">
      <nb-accordion-item-header> Image </nb-accordion-item-header>
      <nb-accordion-item-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other
        ionized gases. Originally, nebula was a name for any diffuse
        astronomical object, including galaxies beyond the Milky Way.
      </nb-accordion-item-body>
    </nb-accordion-item>
    <div *cdkDragPreview>{{ item.type }}</div>
  </nb-accordion>
  <!-- <div
    *ngFor="let item of list2"
    cdkDrag
    [cdkDragData]="item"
    (cdkDragMoved)="dragMoved($event)"
    (cdkDragReleased)="dragReleased($event)"
  > -->
  <!-- <div style="color: green" *ngIf="item === 'div'">div</div>
    <div style="color: green" *ngIf="item === 'container'">Container</div> -->
  <!-- <img
      src="https://images.pexels.com/photos/658687/pexels-photo-658687.jpeg?auto=compress&cs=tinysrgb&h=350"
      width="88"
      height="31"
      *ngIf="item === 'img'"
    /> -->

  <!-- <img
    src="https://images.pexels.com/photos/658687/pexels-photo-658687.jpeg?auto=compress&cs=tinysrgb&h=350"
    id="drag1"
    width="88"
    height="31"
    cdkDrag
    #img
    cdkDragBoundary=".figure"
  /> -->
  <!-- </div> -->
</div>
