<div class="header-container">
  <div class="logo-container" style="width: 350px">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline" id="menu"></nb-icon>
    </a>
    <!-- Alt + 0174  -->
    <!-- [ngClass]="{ smallDevice: !smallDevice }" -->
    <a class="logo" href="#" (click)="navigateHome()"
      ><div style="display: flex; flex-direction: row; align-items: center">
        <img
          src="./favicon.png"
          width="50"
          height="50"
          srcset=""
          style="display: inline"
        />
        <div
          style="font-family: sansa_probold; display: inline; font-size: 25px"
        >
          <div
            style="font-size: 35px; display: inline; font-family: sans-serif"
          >
            |
          </div>
          Hutchinson<sup>®</sup>
        </div>
      </div></a
    >
  </div>
  <!-- <nb-select
    [selected]="currentTheme"
    (selectedChange)="changeTheme($event)"
    status="primary"
  >
    <nb-option *ngFor="let theme of themes" [value]="theme.value">
      {{ theme.name }}</nb-option
    >
  </nb-select> -->
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action
      class="control-item"
      icon="log-out"
      badgeStatus="success"
      (click)="logOut()"
      title="LogOut"
    ></nb-action>
    <nb-action
      class="control-item"
      icon="settings-2"
      title="Gérer Profil"
      (click)="router.navigate(['/pages/profil'])"
    >
    </nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user
        (click)="router.navigate(['/pages/profil'])"
        [onlyPicture]="false"
        [name]="user?.nom + ' ' + user?.prenom"
        [picture]="imgdata || avatarSrc"
      >
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
