<nb-layout>
  <nb-sidebar
    right
    tag="creationEtiquette"
    containerFixed
    style="margin-right: -10px"
  >
    <div><ngx-tabs style="width: 350px"></ngx-tabs></div>
  </nb-sidebar>

  <nb-layout-column>
    <div class="btn-group mb-3" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" (click)="zoomIn()">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </button>
      <button type="button" class="btn btn-primary" (click)="initZoom()">
        <fa-icon [icon]="['fas', 'expand']"></fa-icon>
      </button>
      <button type="button" class="btn btn-primary" (click)="zoomOut()">
        <fa-icon [icon]="['fas', 'minus']"></fa-icon>
      </button>
    </div>
    <div id="container">
      <div class="label center" [ngStyle]="labelStyle" id="test">
        <div
          class="figure"
          id="label"
          cdkDropList
          [cdkDropListData]="list1"
          (cdkDropListDropped)="onDrop($event)"
          [ngStyle]="{
            border:
              labelInfo.showPaddingCadre === true ? '1px solid green' : 'none'
          }"
          style="height: 100%; width: 100%"
        >
          <div
            *ngFor="let item of list1"
            cdkDrag
            (cdkDragMoved)="dragMoved($event)"
          >
            <ng-container
              (keyup.delete)="delete(item.id)"
              *ngTemplateOutlet="tmplNode; context: { item: item }"
            ></ng-container>
            <div
              class="container1 container"
              *ngIf="
                ['container', 'container-2', 'container-3'].indexOf(
                  item.type
                ) !== -1
              "
              id="container1"
              [attr.data-id]="item.id"
              (mouseenter)="dragDropService.showDragPlaceholder = false"
              (mouseleave)="dragDropService.showDragPlaceholder = true"
            >
              <div
                *ngIf="item.children.length"
                class="row"
                [ngStyle]="rowStyle(item)"
                style="border-style: none !important"
              >
                <div
                  *ngFor="let child of item.children; let i = index"
                  class="col"
                  [ngClass]="{
                    videContainer:
                      item.type === 'container'
                        ? !containerNotVide
                        : item.type === 'container-2'
                        ? !container2NotVide
                        : !container3NotVide,
                    notVideContainer:
                      item.type === 'container'
                        ? containerNotVide
                        : item.type === 'container-2'
                        ? container2NotVide
                        : container3NotVide
                  }"
                  [ngStyle]="{
                    'border-style': item.style && item.style['border-style'],
                    'border-color': item.style && item.style['border-color'],
                    'border-width': item.style && item.style['border-width']
                  }"
                >
                  <ng-container
                    (keyup.delete)="delete(item.id)"
                    *ngTemplateOutlet="tmplNode; context: { item: child }"
                  ></ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="btn-group mb-3"
      role="group"
      aria-label="Basic example"
      style="position: relative; top: 20px"
    >
      <button type="button" class="btn btn-primary" (click)="saveToPdf()">
        <nb-icon icon="save-outline" pack="eva"></nb-icon>
      </button>
      <button type="button" class="btn btn-primary">
        <fa-icon [icon]="['fas', 'eye']"></fa-icon>
      </button>
    </div>
  </nb-layout-column>
</nb-layout>
<!-- **************************************************************** ng Template ******************************************* -->
<ng-template #tmplNode let-item="item">
  <div
    *ngIf="item.type === 'text'"
    [attr.data-id]="item.id"
    [ngStyle]="item.style"
  >
    {{ item.data }}
  </div>
  <div
    *ngIf="item.type === 'QRcode'"
    [attr.data-id]="item.id"
    [ngStyle]="item.style"
    style="width: fit-content !important; display: block"
  >
    <div
      *ngIf="item.dataMatrixFormat === 'qrcode'"
      [ngStyle]="{
        marginLeft: item.style['margin-left'] + 'mm',
        marginRight: item.style['margin-right'] + 'mm',
        marginTop: item.style['margin-top'] + 'mm',
        marginBottom: item.style['margin-bottom'] + 'mm',
        margin: item.style['margin'] + 'mm'
      }"
    >
      <qrcode
        [qrdata]="item.data"
        [width]="item.style.width || 80"
        [errorCorrectionLevel]="'M'"
        [elementType]="'canvas'"
        [colorLight]="item.style['background-color']"
        [colorDark]="item.style['color']"
      ></qrcode>
    </div>
    <ngx-barcode
      [bc-value]="item.data"
      [bc-display-value]="true"
      [bc-format]="item.dataMatrixFormat"
      *ngIf="item.dataMatrixFormat !== 'qrcode'"
      [bc-width]="item.style.width / 100 || 1"
      [bc-height]="item.style.height || 100"
      [bc-element-type]="'svg'"
      [bc-background]="item.style['background-color']"
      [bc-line-color]="item.style['color']"
      [bc-margin-left]="item.style['margin-left'] || 0"
      [bc-margin-right]="item.style['margin-right'] || 0"
      [bc-margin-top]="item.style['margin-top'] || 0"
      [bc-margin-bottom]="item.style['margin-bottom'] || 0"
      [bc-margin]="item.style['margin'] || 0"
    ></ngx-barcode>
    <!-- <ejs-barcodegenerator
      style="display: block"
      #barcode
      id="barcode"
      width="200px"
      height="150px"
      mode="SVG"
      type="Codabar"
      value="123456789"
    ></ejs-barcodegenerator> -->
  </div>
  <div *ngIf="item.type === 'vide'" [attr.data-id]="item.id"></div>
  <img
    src="https://images.pexels.com/photos/658687/pexels-photo-658687.jpeg?auto=compress&cs=tinysrgb&h=350"
    width="88"
    height="31"
    *ngIf="item.type === 'image'"
    [attr.data-id]="item.id"
  />
</ng-template>
<!-- <mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item>Clicked {{ item.content }}</button>
    <button mat-menu-item>Fixed menu</button>
  </ng-template>
</mat-menu> -->
