<nb-layout>
  <nb-sidebar
    right
    tag="creationEtiquette"
    containerFixed
    style="margin-right: -10px"
  >
    <div><ngx-tabs style="width: 350px"></ngx-tabs></div>
  </nb-sidebar>

  <nb-layout-column>
    <div class="btn-group mb-3" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" (click)="zoomIn()">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </button>
      <button type="button" class="btn btn-primary" (click)="initZoom()">
        <fa-icon [icon]="['fas', 'expand']"></fa-icon>
      </button>
      <button type="button" class="btn btn-primary" (click)="zoomOut()">
        <fa-icon [icon]="['fas', 'minus']"></fa-icon>
      </button>
    </div>
    <div id="container">
      <div class="label center" [ngStyle]="labelStyle" id="test">
        <div
          class="figure"
          id="label"
          cdkDropList
          [cdkDropListData]="list1"
          (cdkDropListDropped)="onDrop($event)"
          [ngStyle]="{
            border:
              labelInfo.showPaddingCadre === true ? '1px solid green' : 'none'
          }"
          style="height: 100%; width: 100%"
        >
          <div
            *ngFor="let item of list1"
            cdkDrag
            (cdkDragMoved)="dragMoved($event)"
            (document:keyup)="delete($event)"
          >
            <ng-container
              *ngTemplateOutlet="tmplNode; context: { item: item }"
            ></ng-container>
            <div
              class="container1 container"
              *ngIf="
                ['container', 'container-2', 'container-3'].indexOf(
                  item.type
                ) !== -1
              "
              id="container1"
              [attr.data-id]="item.id"
              style="background-color: aqua; height: 50px"
              (mouseenter)="dragDropService.showDragPlaceholder = false"
              (mouseleave)="dragDropService.showDragPlaceholder = true"
            >
              <div *ngIf="item.children.length" class="row">
                <div
                  *ngFor="let child of item.children; let i = index"
                  class="col"
                >
                  <ng-container
                    *ngTemplateOutlet="tmplNode; context: { item: child }"
                  ></ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="btn-group mb-3"
      role="group"
      aria-label="Basic example"
      style="position: relative; top: 20px"
    >
      <button type="button" class="btn btn-primary" (click)="saveToPdf()">
        <nb-icon icon="save-outline" pack="eva"></nb-icon>
      </button>
      <button type="button" class="btn btn-primary">
        <fa-icon [icon]="['fas', 'eye']"></fa-icon>
      </button>
    </div>
  </nb-layout-column>
</nb-layout>

<ng-template #tmplNode let-item="item">
  <div
    style="color: green"
    *ngIf="item.type === 'div'"
    [attr.data-id]="item.id"
  >
    div
  </div>
  <div *ngIf="item.type === 'vide'" [attr.data-id]="item.id"></div>
  <img
    src="https://images.pexels.com/photos/658687/pexels-photo-658687.jpeg?auto=compress&cs=tinysrgb&h=350"
    width="88"
    height="31"
    *ngIf="item.type === 'img'"
    [attr.data-id]="item.id"
  />
</ng-template>
