.menu-sidebar.left.expanded {
  width: 350px;
  margin-right: -10px;
}

.menu-sidebar.expanded ::ng-deep .scrollable {
  width: 350px;
}
nb-sidebar.right {
  width: 350px;
  margin-right: -10px;
}
nb-sidebar.right.expanded ::ng-deep .scrollable {
  width: 350px !important;
  padding: 0px;
  margin-right: -10px;
}
