<nb-layout [withScroll]="false" id="creationEtiquette">
  <nb-sidebar right tag="creationEtiquette" style="margin-right: -10px">
    <div><ngx-tabs style="width: 350px"></ngx-tabs></div>
  </nb-sidebar>
  <nb-layout-column left start>
    <div
      style="
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
      "
    >
      <div class="btn-group mb-3" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="zoomIn()">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </button>
        <button type="button" class="btn btn-primary" (click)="initZoom()">
          <fa-icon [icon]="['fas', 'expand']"></fa-icon>
        </button>
        <button type="button" class="btn btn-primary" (click)="zoomOut()">
          <fa-icon [icon]="['fas', 'minus']"></fa-icon>
        </button>
      </div>
      <div
        class="alert alert-primary"
        role="alert"
        style="
          background-color: #e0ecfac0;
          border-radius: 10px;
          border-color: #e0ecfa;
        "
      >
        {{
          dragDropService.dragDropLibre
            ? "Mode Drag&Drop Libre"
            : "Mode Drag&Drop Avec Conteneur"
        }}
      </div>
    </div>
    <div id="container">
      <div class="label center" [ngStyle]="labelStyle" id="test">
        <div
          class="figure"
          id="label"
          cdkDropList
          [cdkDropListData]="dragDropService.listOfLabelElements"
          (cdkDropListDropped)="onDrop($event)"
          [ngStyle]="{
            border:
              labelInfo.showPaddingCadre === true ? '1px solid green' : 'none'
          }"
          style="height: 100%; width: 100%"
        >
          <div
            *ngFor="let item of dragDropService.listOfLabelElements"
            cdkDrag
            (cdkDragMoved)="dragMoved($event)"
          >
            <div *ngIf="dragDropService.dragDropLibre">
              <ng-container
                *ngTemplateOutlet="tmpDragDropLibre; context: { item: item }"
              ></ng-container>
            </div>
            <div *ngIf="!dragDropService.dragDropLibre">
              <ng-container
                *ngTemplateOutlet="
                  tmpDragDropContainer;
                  context: { item: item }
                "
              ></ng-container>
            </div>
            <div
              class="container1 container"
              *ngIf="
                ['container', 'container-2', 'container-3'].indexOf(
                  item.type
                ) !== -1
              "
              id="container1"
              [attr.data-id]="item.id"
              (mouseenter)="dragDropService.showDragPlaceholder = false"
              (mouseleave)="dragDropService.showDragPlaceholder = true"
            >
              <div
                *ngIf="item.children.length"
                class="row"
                [ngStyle]="item.style"
                [ngClass]="{
                  rowvide:
                    item.type === 'container'
                      ? item.children.length === 1 &&
                        item.children[0].type === 'container-1'
                      : item.type === 'container-2' &&
                        item.children[0].children.length > 0 &&
                        item.children[1].children.length > 0
                      ? false
                      : item.type === 'container-3' &&
                        item.children[0].children.length > 0 &&
                        item.children[1].children.length > 0 &&
                        item.children[2].children.length > 0
                      ? false
                      : true
                }"
              >
                <div
                  *ngFor="let child of item.children; let i = index"
                  #dimension
                  [attr.item]="item"
                  class="col"
                  [ngClass]="{
                    videContainer:
                      item.type === 'container'
                        ? item.children.length === 1 &&
                          item.children[0].type === 'container-1'
                        : item.type === 'container-2' &&
                          (item.children[0].children.length > 0 ||
                            item.children[1].children.length > 0)
                        ? false
                        : item.type === 'container-3' &&
                          (item.children[0].children.length > 0 ||
                            item.children[1].children.length > 0 ||
                            item.children[2].children.length > 0)
                        ? false
                        : true,
                    notVideContainer:
                      item.type === 'container'
                        ? item.children.length >= 1
                        : item.type === 'container-2' &&
                          (item.children[0].children.length > 0 ||
                            item.children[1].children.length > 0)
                        ? true
                        : item.type === 'container-3' &&
                          (item.children[0].children.length > 0 ||
                            item.children[1].children.length > 0 ||
                            item.children[2].children.length > 0)
                        ? true
                        : false
                  }"
                  [ngStyle]="{
                    'border-style': item.style && item.style['border-style'],
                    'border-color': item.style && item.style['border-color'],
                    'border-width': item.style && item.style['border-width']
                  }"
                >
                  <div
                    *ngIf="item.type !== 'container' && child.children.length"
                  >
                    <div *ngFor="let child1 of child.children">
                      <div *ngIf="dragDropService.dragDropLibre">
                        <ng-container
                          *ngTemplateOutlet="
                            tmpDragDropLibre;
                            context: { item: child1 }
                          "
                        ></ng-container>
                      </div>
                      <div *ngIf="!dragDropService.dragDropLibre">
                        <ng-container
                          *ngTemplateOutlet="
                            tmpDragDropContainer;
                            context: { item: child1 }
                          "
                        ></ng-container>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="item.type === 'container'">
                    <div *ngIf="dragDropService.dragDropLibre">
                      <ng-container
                        *ngTemplateOutlet="
                          tmpDragDropLibre;
                          context: { item: child1 }
                        "
                      ></ng-container>
                    </div>
                    <div *ngIf="!dragDropService.dragDropLibre">
                      <ng-container
                        *ngTemplateOutlet="
                          tmpDragDropContainer;
                          context: { item: child1 }
                        "
                      ></ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="btn-group mb-3"
      role="group"
      aria-label="Basic example"
      style="position: relative; top: 20px"
    >
      <button type="button" class="btn btn-primary" (click)="saveToPdf()">
        <nb-icon icon="save-outline" pack="eva"></nb-icon>
      </button>
      <button type="button" class="btn btn-primary" (click)="openLabelView()">
        <fa-icon [icon]="['fas', 'eye']"></fa-icon>
      </button>
    </div>
  </nb-layout-column>
</nb-layout>
<!-- **************************************************************** ng Template ******************************************* -->
<ng-template #tmpDragDropLibre let-item="item">
  <div
    cdkDrag
    [cdkDragData]="item.id"
    cdkDragBoundary=".figure"
    (cdkDragEnded)="dragEnd($event, item.id)"
    [cdkDragFreeDragPosition]="dragDropService.dragPosition[item.id]"
    *ngIf="item.type === 'text'"
    [attr.data-id]="item.id"
    [ngStyle]="textStyle(item)"
    style="cursor: move"
    class="draggedText outline"
    (click)="setItemId(item.id); setTabPropertyActive(item.id)"
  >
    <!-- (dblclick)="setTabPropertyActive(item.id)" -->
    <div [ngStyle]="{ transform: item.style.transform }">{{ item.data }}</div>
  </div>
  <img
    cdkDrag
    cdkDragBoundary=".figure"
    (cdkDragEnded)="dragEnd($event, item.id)"
    [cdkDragFreeDragPosition]="dragDropService.dragPosition[item.id]"
    *ngIf="item.type === 'forme'"
    [attr.data-id]="item.id"
    [ngStyle]="item.style"
    style="cursor: move"
    src="{{ item.data }}"
    alt=""
    height="20"
    width="20"
    class="draggedText"
    (click)="setItemId(item.id); setTabPropertyActive(item.id)"
  />
  <div
    cdkDrag
    cdkDragBoundary=".figure"
    (cdkDragEnded)="dragEnd($event, item.id)"
    [cdkDragFreeDragPosition]="dragDropService.dragPosition[item.id]"
    *ngIf="item.type === 'QRcode'"
    [attr.data-id]="item.id"
    [ngStyle]="item.style"
    style="width: fit-content !important; display: block"
    class="draggedText"
    (click)="setItemId(item.id); setTabPropertyActive(item.id)"
  >
    <div
      *ngIf="item.dataMatrixFormat === 'qrcode'"
      [ngStyle]="{
        marginLeft: item.style['margin-left'] + 'mm',
        marginRight: item.style['margin-right'] + 'mm',
        marginTop: item.style['margin-top'] + 'mm',
        marginBottom: item.style['margin-bottom'] + 'mm',
        margin: item.style['margin'] + 'mm'
      }"
    >
      <qrcode
        [qrdata]="item.data"
        [width]="item.style.width || 80"
        [errorCorrectionLevel]="'M'"
        [elementType]="'svg'"
        [colorLight]="item.style['background-color']"
        [colorDark]="item.style['color']"
      ></qrcode>
    </div>
    <ngx-barcode
      [bc-value]="item.data"
      [bc-display-value]="true"
      [bc-format]="item.dataMatrixFormat"
      *ngIf="item.dataMatrixFormat !== 'qrcode'"
      [bc-width]="item.style.width / 100 || 1"
      [bc-height]="item.style.height || 100"
      [bc-element-type]="'svg'"
      [bc-background]="item.style['background-color']"
      [bc-line-color]="item.style['color']"
      [bc-margin-left]="item.style['margin-left'] || 0"
      [bc-margin-right]="item.style['margin-right'] || 0"
      [bc-margin-top]="item.style['margin-top'] || 0"
      [bc-margin-bottom]="item.style['margin-bottom'] || 0"
      [bc-margin]="item.style['margin'] || 0"
    ></ngx-barcode>
    <!-- <ejs-barcodegenerator
      style="display: block"
      #barcode
      id="barcode"
      width="200px"
      height="150px"
      mode="SVG"
      type="Codabar"
      value="123456789"
    ></ejs-barcodegenerator> -->
  </div>
  <div *ngIf="item.type === 'container-1'" [attr.data-id]="item.id"></div>
  <img
    src="https://images.pexels.com/photos/658687/pexels-photo-658687.jpeg?auto=compress&cs=tinysrgb&h=350"
    width="88"
    height="31"
    *ngIf="item.type === 'image'"
    [attr.data-id]="item.id"
  />
</ng-template>
<ng-template #tmpDragDropContainer let-item="item">
  <div
    *ngIf="item.type === 'text'"
    [attr.data-id]="item.id"
    [ngStyle]="item.style"
    (click)="setTabPropertyActive(item.id)"
    style="cursor: move"
  >
    {{ item.data }}
  </div>
  <img
    *ngIf="item.type === 'forme'"
    [attr.data-id]="item.id"
    [ngStyle]="item.style"
    src="{{ item.data }}"
    alt=""
    height="20"
    width="20"
    style="cursor: move"
    (click)="setTabPropertyActive(item.id)"
  />
  <div
    (click)="setTabPropertyActive(item.id)"
    *ngIf="item.type === 'QRcode'"
    [attr.data-id]="item.id"
    [ngStyle]="item.style"
    style="cursor: move"
  >
    <div
      *ngIf="item.dataMatrixFormat === 'qrcode'"
      [ngStyle]="{
        marginLeft: item.style['margin-left'] + 'mm',
        marginRight: item.style['margin-right'] + 'mm',
        marginTop: item.style['margin-top'] + 'mm',
        marginBottom: item.style['margin-bottom'] + 'mm',
        margin: item.style['margin'] + 'mm'
      }"
      (click)="setTabPropertyActive(item.id)"
      style="cursor: move"
    >
      <qrcode
        [qrdata]="item.data"
        [width]="item.style.width || 80"
        [errorCorrectionLevel]="'M'"
        [elementType]="'svg'"
        [colorLight]="item.style['background-color']"
        [colorDark]="item.style['color']"
      ></qrcode>
    </div>
    <ngx-barcode
      [bc-value]="item.data"
      [bc-display-value]="true"
      [bc-format]="item.dataMatrixFormat"
      *ngIf="item.dataMatrixFormat !== 'qrcode'"
      [bc-width]="item.style.width / 100 || 1"
      [bc-height]="item.style.height || 100"
      [bc-element-type]="'svg'"
      [bc-background]="item.style['background-color']"
      [bc-line-color]="item.style['color']"
      [bc-margin-left]="item.style['margin-left'] || 0"
      [bc-margin-right]="item.style['margin-right'] || 0"
      [bc-margin-top]="item.style['margin-top'] || 0"
      [bc-margin-bottom]="item.style['margin-bottom'] || 0"
      [bc-margin]="item.style['margin'] || 0"
    ></ngx-barcode>
  </div>
  <div *ngIf="item.type === 'container-1'" [attr.data-id]="item.id"></div>
</ng-template>
<!--  Label View -->
<ng-template #template style="width: fit-content; height: fit-content">
  <img [src]="imgSrc" alt="" style="border: 1px solid" />
</ng-template>
