<form
  (ngSubmit)="onSubmit(f)"
  #f="ngForm"
  class="form"
  data-bs-spy="scroll"
  style="
    overflow-y: scroll;
    height: 540px;
    overflow-x: hidden;
    padding-right: 15px;
  "
>
  <div class="row gx-1">
    <div class="col-md-3">
      <label for="ref" class="form-label">Référence Produit</label>
      <select class="form-control" name="ref" id="" ngModel #ref="ngModel">
        <option *ngFor="let item of proRef" value="{{ item.ProRef }}">
          {{ item.ProRef }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="prodName" class="form-label">Nom Produit</label>
      <input
        ngModel
        class="form-control"
        id="prodName"
        type="text"
        #nomProduit="ngModel"
        placeholder="Nom Produit"
        name="nomProduit"
      />
    </div>
    <div class="col-md-3">
      <label for="ref1">Référence 1</label>
      <input
        ngModel
        #ref1="ngModel"
        class="form-control"
        id="ref1"
        list="ref1List"
        type="text"
        placeholder="Référence 1"
        name="ref1"
      />
      <datalist id="ref1List">
        <option *ngFor="let item of proRef" value="{{ item.prodes1 }}">
          {{ item.prodes1 }}
        </option>
      </datalist>
    </div>
    <div class="col-md-3">
      <label for="ref1" class="form-label">Référence 2</label>
      <input
        ngModel
        #ref2="ngModel"
        class="form-control"
        id="ref1"
        type="text"
        list="ref2List"
        placeholder="Référence 2"
        name="ref2"
      />
      <datalist id="ref2List">
        <option *ngFor="let item of proRef" value="{{ item.prodes2 }}">
          {{ item.prodes2 }}
        </option>
      </datalist>
    </div>
  </div>
  <br />
  <div class="row gx-1">
    <div class="col-md-3">
      <label for="desFor" class="form-label">Désignation fournisseur </label>
      <input
        ngModel
        #desFournisseur="ngModel"
        class="form-control"
        id="desFor"
        type="text"
        placeholder="Désignation fournisseur"
        name="desFournisseur"
      />
    </div>
    <div class="col-md-3">
      <label for="ref1" class="form-label">Code fournisseur</label>
      <input
        ngModel
        #codeFournisseur="ngModel"
        class="form-control"
        id="ref1"
        type="text"
        placeholder="Code fournisseur"
        name="codeFournisseur"
      />
    </div>
    <div class="col-md-3">
      <label for="ref1">Code Client</label>
      <input
        ngModel
        #codeClient="ngModel"
        class="form-control"
        id="ref1"
        type="text"
        placeholder="Code Client"
        name="codeClient"
      />
    </div>
    <div class="col-md-3">
      <label for="ref1" class="form-label">Désignation Client</label>
      <input
        ngModel
        #desClient="ngModel"
        class="form-control"
        id="ref1"
        type="text"
        placeholder="Désignation Client"
        name="desClient"
      />
    </div>
  </div>
  <br />
  <div class="row gx-1">
    <div class="col-md-3">
      <label for="desFor" class="form-label">N° Lot/Format</label>
      <label for="F_lot"></label>
      <select #lot class="form-control" name="" id="F_lot">
        <optgroup label="Sélectionner N°/Format de lot existant">
          <option value="Numéro de Lot">Numéro de Lot</option>
          <option value="Format de Lot">Format de Date</option>
        </optgroup>
        <optgroup label="Ajouter un Nouveau">
          <option value="Ajouter un Nouveau Format">
            Ajouter un Nouveau Format
          </option>
        </optgroup>
      </select>
    </div>
    <div class="col-md-3">
      <label for="exampleDataList" class="form-label"> {{ lot.value }} </label>
      <select
        id="datalist"
        ngModel
        #lotvalue="ngModel"
        name="formatLot"
        *ngIf="lot.value === 'Format de Lot'"
        class="form-control"
        required
      >
        <option *ngFor="let item of lotData" value="{{ item.numLot }}">
          {{ item.format }}
        </option>
      </select>
      <select
        ngModel
        name="numLot"
        id="datalist"
        *ngIf="lot.value === 'Numéro de Lot'"
        class="form-control"
        required
      >
        <option *ngFor="let item of lotData" value="{{ item.numLot }}">
          {{ item.numLot }}
        </option>
      </select>
      <div *ngIf="lot.value === 'Ajouter un Nouveau Format'">
        <input
          ngModel
          #desLot="ngModel"
          class="form-control"
          type="text"
          placeholder="Format de Lot"
          name="newformatLot"
          required
        />
        <input
          ngModel
          #desLot="ngModel"
          class="form-control"
          type="text"
          placeholder="Numéro de Lot"
          name="newNumLot"
          required
        />
      </div>
    </div>
    <div class="col-md-3">
      <label for="desLot">Désignation Lot</label>
      <input
        ngModel
        #desLot="ngModel"
        class="form-control"
        id="desLot"
        type="text"
        placeholder="Désignation Lot"
        name="desLot"
      />
    </div>
    <div class="col-md-3">
      <label for="txt1" class="form-label">Text1</label>
      <input
        class="form-control"
        id="ref1"
        type="text"
        placeholder="Text1"
        ngModel
        #text1="ngModel"
        name="text1"
      />
    </div>
  </div>
  <br />
  <div class="row gx-1">
    <div class="col-md-3">
      <label for="text2" class="form-label">Text 2 </label>
      <input
        class="form-control"
        id="text2"
        type="text"
        placeholder="Text 2"
        ngModel
        #text2="ngModel"
        name="text2"
      />
    </div>
    <div class="col-md-3">
      <label for="text3" class="form-label">Text 3</label>
      <input
        class="form-control"
        id="text3"
        type="text"
        placeholder="Text 3"
        ngModel
        #text3="ngModel"
        name="text3"
      />
    </div>
    <div class="col-md-3">
      <label for="text4">Text 4</label>
      <input
        class="form-control"
        id="text4"
        type="text"
        placeholder="Text 4"
        ngModel
        #text4="ngModel"
        name="text4"
      />
    </div>
    <div class="col-md-3">
      <label for="text5" class="form-label">Text 5</label>
      <input
        class="form-control"
        id="text5"
        type="text"
        placeholder="Text 5"
        ngModel
        #text5="ngModel"
        name="text5"
      />
    </div>
  </div>
  <br />
  <div class="row gx-1">
    <div class="col-md-3">
      <input type="checkbox" name="formes" id="formes" #formes ngModel />
      <label for="formes"> &nbsp;formes</label>
      {{ formes.checked }}
      <br />
    </div>
    <div class="col-md-3">
      <label for="">Options</label><br />
      <input type="checkbox" name="withOF" id="OF" ngModel #withOF="ngModel" />
      <label for="OF"> &nbsp;Avec OF</label>
      <br />
      <input
        type="checkbox"
        name="withDataMatrix"
        id="withDataMatrix"
        ngModel
        #withDataMatrix="ngModel"
      />
      <label for="Avec_DataMatrix"> &nbsp;Avec DataMatrix</label><br />
      <input
        type="checkbox"
        name="withSN"
        id="num_serie"
        #numSerie
        ngModel
        #withNumSerie="ngModel"
      />
      <label for="num_serie"> &nbsp;Avec Numéro de Série</label>
    </div>
    <div class="col-md-3" *ngIf="numSerie.checked">
      <label for="text5" class="form-label">Info Numéro de Série</label><br />
      <div class="input-group mb-3">
        <span class="input-group-text" id="Préfix">Préfix</span>
        <input
          ngModel
          name="prefix"
          #prefix="ngModel"
          type="text"
          class="form-control"
          placeholder="Préfix"
          aria-label="Préfix"
          aria-describedby="Préfix"
        />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="Suffix">Suffix</span>
        <input
          ngModel
          name="suffix"
          #suffix="ngModel"
          type="text"
          class="form-control"
          placeholder="Suffix"
          aria-label="Suffix"
          aria-describedby="Suffix"
        />
      </div>
    </div>
    <div class="col-md-3" *ngIf="numSerie.checked">
      <label for="text5" class="form-label">Compteur</label><br />
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01"
          >Nbr de Caractére
        </label>
        <select
          class="form-control"
          id="inputGroupSelect01"
          ngModel
          name="nbrCaractere"
          #nbrCaractere="ngModel"
        >
          <option selected>Choose...</option>
          <option
            *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
            value="{{ item }}"
          >
            {{ item }}
          </option>
        </select>
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Type</label>
        <select
          class="form-control"
          id="inputGroupSelect01"
          ngModel
          name="typeCompteur"
          #typeCompteur="ngModel"
        >
          <option selected>Choose...</option>
          <option value="N">Numérique</option>
          <option value="AN">Alphanumérique</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <button
        type="submit"
        class="btn btn-success"
        style="margin-right: 15px"
        [disabled]="!f.valid"
      >
        Enregistrer
      </button>
      <button type="button" class="btn btn-danger ms-3">Annuler</button>
    </div>
  </div>
</form>
