@font-face {
  font-family: "sansa_probold";
  src: url("../../../assets/font/sansapro-bold-webfont.woff2") format("woff2"),
    url("../../../assets/font/sansapro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sansa_pronormal";
  src: url("../../../assets/font/sansapro-normal-webfont.woff2") format("woff2"),
    url("../../../assets/font/sansapro-normal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
