<div class="form-check form-switch">
  <input
    class="form-check-input"
    type="checkbox"
    role="switch"
    id="flexSwitchCheckChecked"
    checked
    [(ngModel)]="dragDropService.dragDropLibre"
    [disabled]="dragDropService.listOfLabelElements.length > 0"
  />
  <label class="form-check-label" for="flexSwitchCheckChecked"
    >Mode Drag & Drop Libre
    {{ dragDropService.dragDropLibre ? "activer" : "désactiver" }}
  </label>
</div>
<fieldset>
  <legend>Liste des composants à glisser</legend>
</fieldset>
<div
  cdkDropList
  (cdkDropListDropped)="onDrop($event)"
  [cdkDropListData]="dragDropService.listOfDragItems"
  [cdkDropListConnectedTo]="dragDropService.dropTargetIds"
  [cdkDropListSortingDisabled]="true"
  id="design"
>
  <nb-accordion>
    <nb-accordion-item *ngIf="!dragDropService.dragDropLibre">
      <nb-accordion-item-header> Containers </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div
          *ngFor="let item of dragDropService.listOfDragItems"
          cdkDrag
          [cdkDragData]="item.id"
          (cdkDragMoved)="dragMoved($event)"
        >
          <div *cdkDragPlaceholder>
            <div
              class="example-custom-placeholder"
              *ngIf="dragDropService.showDragPlaceholder"
            ></div>
          </div>
          <div
            *ngIf="item.type === 'container'"
            [attr.data-id]="item.id"
            class="example-box"
          >
            Container
          </div>
          <div
            *ngIf="item.type === 'container-2'"
            [attr.data-id]="item.id"
            class="example-box"
          >
            Container-2
          </div>
          <div *ngIf="item.type === 'container-3'" class="example-box">
            Container-3
          </div>
          <div *cdkDragPreview>{{ item.type }}</div>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item>
      <nb-accordion-item-header> Champs </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div
          *ngFor="let item of dragDropService.listOfDragItems"
          cdkDrag
          [cdkDragData]="item.id"
          (cdkDragMoved)="dragMoved($event)"
          cdkDragBoundary=".figure"
        >
          <div *cdkDragPlaceholder>
            <div
              class="example-custom-placeholder"
              *ngIf="dragDropService.showDragPlaceholder"
            ></div>
          </div>
          <div
            *ngIf="item.type === 'text' || item.type === 'QRcode'"
            [attr.data-id]="item.id"
            class="example-box"
          >
            {{ item.title }}
          </div>
          <div
            *cdkDragPreview
            style="
              padding: 10px;
              background-color: rgb(194, 187, 187);
              border-radius: 10px;
            "
          >
            {{ item.type }}
          </div>
        </div>
        <fieldset>
          <legend>Liste des Icons</legend>
        </fieldset>
        <div style="display: flex; margin-bottom: 20px">
          <div
            *ngFor="let item1 of dragDropService.listOfDragItems"
            cdkDrag
            [cdkDragData]="item1.id"
            (cdkDragMoved)="dragMoved($event)"
            cdkDragBoundary=".figure"
            style="display: flex"
          >
            <div *cdkDragPlaceholder>
              <div
                class="example-custom-placeholder"
                *ngIf="dragDropService.showDragPlaceholder"
              ></div>
            </div>
            <div
              *ngIf="item1.type === 'forme'"
              [attr.data-id]="item1.id"
              class="formes"
            >
              <img
                src="{{ item1.data }}"
                alt=""
                style="height: 30px; width: 30px"
              />
            </div>
            <div
              *cdkDragPreview
              style="
                padding: 10px;
                background-color: rgb(194, 187, 187);
                border-radius: 10px;
              "
            >
              {{ item1.type }}
            </div>
          </div>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>
<!--  ------------------------------------------------------------------------Liste des champs Ajoutés--------------------------------------- -->
<fieldset>
  <legend>Liste des champs Ajoutés</legend>
</fieldset>
<div>
  <nb-accordion>
    <nb-accordion-item
      *ngFor="let item of dragDropService.listOfLabelElements"
      [disabled]="
        !['container', 'container-2', 'container-3', 'img'].includes(item.type)
      "
    >
      <nb-accordion-item-header
        *ngIf="
          !['container', 'container-2', 'container-3', 'img'].includes(
            item.type
          )
        "
      >
        <div class="item-header">
          <div>{{ item.title }}</div>
          <div
            (click)="remove(item.id)"
            style="margin-right: 25px; margin-bottom: -10px"
          >
            <nb-icon
              icon="close"
              status="danger"
              style="width: 25px; height: 25px; margin-bottom: -4px"
            ></nb-icon>
          </div>
        </div>
      </nb-accordion-item-header>

      <nb-accordion-item-header *ngIf="item.type === 'container'">
        <div class="item-header">
          <div>Container</div>
          <div
            (click)="remove(item.id)"
            style="margin-right: 25px; margin-bottom: -10px"
          >
            <nb-icon
              icon="close"
              status="danger"
              style="width: 25px; height: 25px; margin-bottom: -4px"
            ></nb-icon>
          </div>
        </div>
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.type === 'container'">
        <div *ngIf="item.children.length">
          <nb-accordion *ngFor="let item1 of item.children">
            <nb-accordion-item
              *ngIf="item1.type === 'text'"
              [attr.data-id]="item1.refItem"
              disabled
            >
              <nb-accordion-item-header>
                <div class="item-header">
                  <div>{{ item1.title }}</div>
                  <div
                    (click)="remove(item1.id)"
                    style="margin-right: 25px; margin-bottom: -10px"
                  >
                    <nb-icon
                      icon="close"
                      status="danger"
                      style="width: 25px; height: 25px; margin-bottom: -4px"
                    ></nb-icon>
                  </div>
                </div>
              </nb-accordion-item-header>
            </nb-accordion-item>
            <nb-accordion-item
              *ngIf="item1.type === 'forme'"
              [attr.data-id]="item1.refItem"
              disabled
            >
              <nb-accordion-item-header>
                <div class="item-header">
                  <div>{{ item1.title }}</div>
                  <div
                    (click)="remove(item1.id)"
                    style="margin-right: 25px; margin-bottom: -10px"
                  >
                    <nb-icon
                      icon="close"
                      status="danger"
                      style="width: 25px; height: 25px; margin-bottom: -4px"
                    ></nb-icon>
                  </div>
                </div>
              </nb-accordion-item-header>
            </nb-accordion-item>
            <nb-accordion-item
              *ngIf="item1.type === 'vide'"
              [attr.data-id]="item1.refItem"
              disabled
            >
              <nb-accordion-item-header>Vide </nb-accordion-item-header>
            </nb-accordion-item>
          </nb-accordion>
        </div>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.type === 'container-2'">
        <div class="item-header">
          <div>Container 2</div>
          <div
            (click)="remove(item.id)"
            style="margin-right: 25px; margin-bottom: -10px"
          >
            <nb-icon
              icon="close"
              status="danger"
              style="width: 25px; height: 25px; margin-bottom: -4px"
            ></nb-icon>
          </div>
        </div>
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.type === 'container-2'">
        <ngx-container-style-form [itemId]="item.id"></ngx-container-style-form>
        <div *ngIf="item.children.length">
          <div *ngFor="let item1 of item.children; let i = index">
            <fieldset>
              <legend>Container {{ i }}</legend>
            </fieldset>
            <nb-accordion *ngFor="let item2 of item1.children">
              <nb-accordion-item
                *ngIf="item2.type === 'text'"
                [attr.data-id]="item2.refItem"
                disabled
              >
                <nb-accordion-item-header>
                  <div class="item-header">
                    <div>{{ item2.title }}</div>
                    <div
                      (click)="remove(item2.id)"
                      style="margin-right: 25px; margin-bottom: -10px"
                    >
                      <nb-icon
                        icon="close"
                        status="danger"
                        style="width: 25px; height: 25px; margin-bottom: -4px"
                      ></nb-icon>
                    </div>
                  </div>
                </nb-accordion-item-header>
              </nb-accordion-item>
              <nb-accordion-item
                *ngIf="item2.type === 'forme'"
                [attr.data-id]="item2.refItem"
                disabled
              >
                <nb-accordion-item-header>
                  <div class="item-header">
                    <div>{{ item2.title }}</div>
                    <div
                      (click)="remove(item2.id)"
                      style="margin-right: 25px; margin-bottom: -10px"
                    >
                      <nb-icon
                        icon="close"
                        status="danger"
                        style="width: 25px; height: 25px; margin-bottom: -4px"
                      ></nb-icon>
                    </div>
                  </div>
                </nb-accordion-item-header>
              </nb-accordion-item>
              <nb-accordion-item *ngIf="item2.type === 'QRcode'" disabled>
                [attr.data-id]="item2.refItem" >
                <nb-accordion-item-header>
                  <div class="item-header">
                    <div>{{ item2.title }}</div>
                    <div
                      (click)="remove(item2.id)"
                      style="margin-right: 25px; margin-bottom: -10px"
                    >
                      <nb-icon
                        icon="close"
                        status="danger"
                        style="width: 25px; height: 25px; margin-bottom: -4px"
                      ></nb-icon>
                    </div>
                  </div>
                </nb-accordion-item-header>
              </nb-accordion-item>
              <nb-accordion-item disabled>
                <nb-accordion-item-header
                  *ngIf="item2.type === 'vide'"
                  [attr.data-id]="item2.refItem"
                >
                  Vide
                </nb-accordion-item-header>
              </nb-accordion-item>
            </nb-accordion>
          </div>
        </div>
      </nb-accordion-item-body>

      <nb-accordion-item-header *ngIf="item.type === 'container-3'">
        <div class="item-header">
          <div>Container 3</div>
          <div
            (click)="remove(item.id)"
            style="margin-right: 25px; margin-bottom: -10px"
          >
            <nb-icon
              icon="close"
              status="danger"
              style="width: 25px; height: 25px; margin-bottom: -4px"
            ></nb-icon>
          </div>
        </div>
      </nb-accordion-item-header>
      <nb-accordion-item-body *ngIf="item.type === 'container-3'">
        <div *ngIf="item.children.length">
          <div *ngFor="let item1 of item.children; let i = index">
            <fieldset>
              <legend>Container {{ i }}</legend>
            </fieldset>
            <nb-accordion *ngFor="let item2 of item1.children">
              <nb-accordion-item *ngIf="item2.type === 'text'" disabled>
                <nb-accordion-item-header>
                  <div class="item-header">
                    <div>{{ item2.title }}</div>
                    <div
                      (click)="remove(item2.id)"
                      style="margin-right: 25px; margin-bottom: -10px"
                    >
                      <nb-icon
                        icon="close"
                        status="danger"
                        style="width: 25px; height: 25px; margin-bottom: -4px"
                      ></nb-icon>
                    </div>
                  </div>
                </nb-accordion-item-header>
                <nb-accordion-item-body></nb-accordion-item-body>
              </nb-accordion-item>
              <nb-accordion-item *ngIf="item2.type === 'forme'" disabled>
                <nb-accordion-item-header>
                  <div class="item-header">
                    <div>{{ item2.title }}</div>
                    <div
                      (click)="remove(item2.id)"
                      style="margin-right: 25px; margin-bottom: -10px"
                    >
                      <nb-icon
                        icon="close"
                        status="danger"
                        style="width: 25px; height: 25px; margin-bottom: -4px"
                      ></nb-icon>
                    </div>
                  </div>
                </nb-accordion-item-header>
                <nb-accordion-item-body> </nb-accordion-item-body>
              </nb-accordion-item>
              <nb-accordion-item *ngIf="item2.type === 'QRcode'" disabled>
                [attr.data-id]="item2.refItem" >
                <nb-accordion-item-header>
                  <div class="item-header">
                    <div>{{ item2.title }}</div>
                    <div
                      (click)="remove(item2.id)"
                      style="margin-right: 25px; margin-bottom: -10px"
                    >
                      <nb-icon
                        icon="close"
                        status="danger"
                        style="width: 25px; height: 25px; margin-bottom: -4px"
                      ></nb-icon>
                    </div>
                  </div>
                </nb-accordion-item-header>
              </nb-accordion-item>
            </nb-accordion>
          </div>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>
