<h4>Drag and Drop</h4>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div id="div1" (dragover)="allowDrop($event)">
        <img
          src="https://images.pexels.com/photos/658687/pexels-photo-658687.jpeg?auto=compress&cs=tinysrgb&h=350"
          draggable="true"
          (dragstart)="drag($event)"
          id="drag1"
          width="88"
          height="31"
          cdkDrag
          cdkDragBoundary=".figure"
          [cdkDragDisabled]="dragebel"
          [cdkDragFreeDragPosition]="dragPosition"
        />
      </div>
    </div>
    <div class="col-xs-6">
      <div
        class="figure"
        id="div2"
        (drop)="drop($event)"
        (dragover)="allowDrop($event)"
        style="width: 400px; height: 400px; background-color: beige"
      >
        <span id="msg"> drag here</span>
      </div>
      <div class="form-group">
        <br />
        <label for="x"> Enter X</label>
        <input
          [disabled]="dragebel"
          [(ngModel)]="dragPosition.x"
          type="number"
          class="form-control"
          name="x"
          id=""
          min="0"
          [defaultValue]="0"
          aria-describedby="helpId"
          placeholder="enter x"
        />
        {{ dragPosition.x }}
        <br />
        <label for="y"> Enter Y</label>
        <input
          [disabled]="dragebel"
          [(ngModel)]="dragPosition.y"
          type="number"
          class="form-control"
          name="y"
          id=""
          aria-describedby="helpId"
          placeholder="enter y"
          max="369"
          min="0"
        />
      </div>
      <button (click)="changePos()">Change element position</button>
    </div>
  </div>
</div>
