nb-card {
  width: 380px;
  height: 100%;
}
legend {
  text-align: center;
  padding: 10px;
  font: 19px/24px Arial, sans-serif;
  color: #3374b5;
  width: fit-content;
  font-weight: 700;
}
fieldset {
  border: none;
  border-top: 2px solid #3374b5;
  margin-bottom: -17px;
  margin-top: 7px;
}
.btn {
  background-color: #3374b5;
  border-color: #3374b5;
}
span {
  background-color: #3374b5;
  color: white;
}
li {
  display: table-cell;
  width: 20px;
}
li:hover > a {
  background-color: #3374b5;
}
.tabset .tab .tab-link {
  padding-right: 20px !important;
}
